Repository emacs-lsp/lsp-mode, pull requests merged in 2020-12, with the labels that each got.

#2379 [Documentation] Relocated file
  docs/page/adding-new-language.md
Labels: documentation

#2373 [glob] Remove top-level braces, if any
  clients/lsp-rf.el
  lsp-mode.el
  test/lsp-file-watch-test.el
Labels: client

#2393 README: add me as a contributor
  README.md
Labels: documentation

#2394 README: MEMBERS: fix alignment
  README.md
Labels: documentation

#2254 Log Serenata progress messages to the log instead
  clients/lsp-php.el
Labels: client

#2407 Add the ability to run elixir tests from test lenses
  CHANGELOG.org
  clients/lsp-elixir.el
Labels: client

#2414 lsp-lua.el: Fix lua-lsp connection commands are unchangable
  clients/lsp-lua.el
Labels: client

#2422 [headerline] Fix icon when it uses font instead of display
  lsp-headerline.el
Labels: bug

#2425 Fix lsp-vhdl executable PATH search
  clients/lsp-vhdl.el
Labels: client

#2424 [lsp-lua]: Fix connection commands not following custom changes
  clients/lsp-lua.el
Labels: client

#2406 Add support for Steep (Ruby type checker)
  CHANGELOG.org
  clients/lsp-steep.el
  docs/lsp-clients.json
  lsp-mode.el
Labels: client, documentation

#2411 Svelte LS related configuration
  clients/lsp-svelte.el
  scripts/lsp-generate-settings.el
Labels: client

#2434 lsp-go: fix misspelling in Codelens option
  clients/lsp-go.el
Labels: client

#2439 [svelte] Workaround: Use ht-get over ht-get* because of upstream bug
  clients/lsp-svelte.el
Labels: client

#2442 lsp-nix.el: fix server-id
  clients/lsp-nix.el
Labels: client

#2447 [semantic-tokens] Migrate semantic tokens to file
  CHANGELOG.org
  README.md
  docs/page/settings.md
  lsp-mode.el
  lsp-semantic-tokens.el
Labels: documentation

#2480 README: nbfalcon: alt="kiennq" -> "nbfalcon"
  README.md
Labels: documentation

#2488 Add support for `phpactor'
  CHANGELOG.org
  clients/lsp-php.el
  docs/lsp-clients.json
  mkdocs.yml
Labels: client, documentation

#2482 Fix Clangd's Flycheck Explainer
  clients/lsp-clangd.el
  lsp-diagnostics.el
Labels: client
