Repository emacs-lsp/lsp-mode, pull requests merged in 2020-09, with the labels that each got.

#2146 lsp-completion--exit-fn: works with non props candidate
  lsp-completion.el
Labels: completion

#2131 Convert symbol-informations -> document-symbol
  lsp-headerline.el
  lsp-mode.el
Labels: bug

#2157 Add Prolog LSP implementation to list of supported languages
  clients/lsp-prolog.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, new server

#2162 [bug] - Fix Rename file workspace edits
  lsp-mode.el
Labels: bug

#2166 C/C++ guide/tutorial
  docs/tutorials/CPP-guide.md
  docs/tutorials/images/completion.png
  docs/tutorials/images/debug.png
  docs/tutorials/images/errors-list.png
  docs/tutorials/images/hover-info.png
  docs/tutorials/images/import-project.png
  docs/tutorials/images/lsp-treemacs-references.png
  docs/tutorials/images/mouse.png
  docs/tutorials/images/references-helm.png
  docs/tutorials/images/select-template.png
  docs/tutorials/images/signature-help.png
  docs/tutorials/images/treemacs-references.png
  docs/tutorials/images/which-key.png
  docs/tutorials/images/workspace-symbols.png
  mkdocs.yml
Labels: tutorial

#2173 How to turn off features in lsp-mode/lsp-ui
  docs/tutorials/how-to-turn-off.md
  docs/tutorials/images/turn-off-1.png
  docs/tutorials/images/turn-off-2.png
  docs/tutorials/images/turn-off-3.png
  docs/tutorials/images/turn-off-4.png
  mkdocs.yml
Labels: tutorial

#2187 [modeline] - Use a different face for code action when it is preferred
  lsp-modeline.el
Labels: feature-request

#1797 lsp-csharp.el: add handler for the "omnisharp/client/findReferences"
  clients/lsp-csharp.el
Labels: client

#2196 lsp-csharp: handle interop notifications
  clients/lsp-csharp.el
  lsp-protocol.el
Labels: client

#2200 Add lsp-nix to the list of lsp-client-packages
  clients/lsp-nix.el
  lsp-mode.el
Labels: client

#2198 gopls-after-open-fn: make no completion filtering for gopls
  clients/lsp-go.el
Labels: client

#2201 [lsp-json] Change executable path for system-installed server
  clients/lsp-json.el
Labels: client

#2204 Revert "[lsp-json] Change executable path for system-installed server (#2201)"
  clients/lsp-json.el
Labels: client

#2197 Automatic download related work
  clients/lsp-rust.el
  clients/lsp-xml.el
  lsp-mode.el
  test/lsp-mode-test.el
Labels: client

#2211 [clojure] Add auto download
  CHANGELOG.org
  clients/lsp-clojure.el
Labels: client

#2213 Mention gccemacs in lsp-doctor and in performance guide
  docs/page/performance.md
  lsp-mode.el
Labels: documentation, performance

#2216 Added custom configuration options for lua-language-server
  clients/lsp-lua.el
Labels: client
