Repository emacs-lsp/lsp-mode, pull requests merged in 2020-11, with the labels that each got.

#2296 Fix documentation for `lsp-modeline-diagnostics-scope'
  docs/page/main-features.md
Labels: documentation

#2302 add lsp-headerline-breadcrumb-enable to settings.md
  docs/page/settings.md
Labels: documentation

#2321 Add dotnet build-output folders to lsp-file-watch-ignored.
  lsp-mode.el
Labels: C#, enhancement

#2332 Mark lsp-solargraph-use-bundler as safe if booleanp
  clients/lsp-solargraph.el
Labels: client

#2330 Reactjs Tutorial
  docs/tutorials/images/reactjs/app-is-unused.png
  docs/tutorials/images/reactjs/bracket-matching.png
  docs/tutorials/images/reactjs/breakpoint.png
  docs/tutorials/images/reactjs/chrome-debugger-readme.png
  docs/tutorials/images/reactjs/debug-variable.png
  docs/tutorials/images/reactjs/debugger-for-chrome.png
  docs/tutorials/images/reactjs/extra-semi-error.png
  docs/tutorials/images/reactjs/hello-world.png
  docs/tutorials/images/reactjs/hit-breakpoint.png
  docs/tutorials/images/reactjs/import-project.png
  docs/tutorials/images/reactjs/install-server.png
  docs/tutorials/images/reactjs/intellisense.png
  docs/tutorials/images/reactjs/js-error.png
  docs/tutorials/images/reactjs/parameter-help.png
  docs/tutorials/images/reactjs/suggestions.png
  docs/tutorials/images/reactjs/welcome-to-react.png
  docs/tutorials/reactjs-tutorial.md
  mkdocs.yml
Labels: documentation, tutorial

#2334 Associate go-dot-mod-mode with gopls.
  clients/lsp-go.el
Labels: client

#2338 Update projectLoadingStart message in angular ls
  clients/lsp-angular.el
Labels: client

#2340 Document lsp-install-server for languages that support it
  docs/lsp-clients.json
  docs/lsp-doc.el
  docs/page/languages.md
  docs/template/lsp-client.md
Labels: documentation

#2348 Add support for Sorbet, Ruby typechecker
  CHANGELOG.org
  clients/lsp-sorbet.el
  docs/lsp-clients.json
  lsp-mode.el
Labels: client, documentation

#2346 [docs] Add support for manual documentation along to automatic documentation
  docs/lsp-doc.el
  docs/manual-language-docs/lsp-latex.md
  docs/manual-language-docs/lsp-org.md
  docs/manual-language-docs/lsp-rust.md
  docs/page/lsp-latex.md
  docs/template/lsp-client.md
Labels: documentation

#2360 Add SystemCrafters tutorials
  README.md
Labels: documentation

#2361 update implementation of lsp-yaml-download-schema-store-db
  clients/lsp-yaml.el
Labels: client

#2363 fix `lsp-eslint-enable` no effect
  clients/lsp-eslint.el
Labels: client

#2366 forgotten-logging-can-be-painful
  docs/page/performance.md
Labels: documentation

#2357 change lsp-yaml-schemas to work with native json-serialize
  clients/lsp-yaml.el
Labels: client

#2367 ESlint server shouldn't launch for JSON files
  clients/lsp-eslint.el
Labels: client

#2370 Add more settings for rust-analyzer
  clients/lsp-rust.el
Labels: client

#2371 Fixing a typo
  docs/page/installation.md
Labels: documentation
