Repository emacs-lsp/lsp-mode, pull requests merged in 2020-08, with the labels that each got.

#1994 Fix lsp-lens-backends variable
  lsp-lens.el
Labels: bug

#1990 Move Flycheck/Flymake to lsp-diagnostics.el
  CHANGELOG.org
  docs/page/settings.md
  lsp-diagnostics.el
  lsp-mode.el
  test/lsp-integration-test.el
Labels: migration

#1997 Custom modeline code actions
  CHANGELOG.org
  docs/page/main-features.md
  examples/modeline-code-actions-count-icon-name.png
  examples/modeline-code-actions-count-icon.png
  examples/modeline-code-actions-icon.png
  examples/modeline-code-actions-name-icon.png
  examples/modeline-code-actions.png
  lsp-modeline.el
Labels: enhancement

#2023 Fix company-backends validation on lsp-diagnose and safe rename to lsp-doctor
  CHANGELOG.org
  docs/page/performance.md
  lsp-mode.el
Labels: bug

#2034 [docs] Add file watcher to performance section
  docs/page/performance.md
Labels: documentation

#2028 Add Lua Language Server, Lua-Lsp and update EmmyLua
  CHANGELOG.org
  docs/lsp-clients.json
  lsp-clients.el
  lsp-lua.el
  lsp-mode.el
  mkdocs.yml
Labels: new server

#2051 Bash client to lsp-bash.el
  lsp-bash.el
  lsp-clients.el
  lsp-mode.el
Labels: migration

#2066 Dhall clients to lsp-dhall.el
  lsp-clients.el
  lsp-dhall.el
  lsp-mode.el
Labels: migration

#2064 R clients to lsp-r.el
  docs/lsp-clients.json
  lsp-clients.el
  lsp-mode.el
  lsp-r.el
Labels: migration

#2074 Add custom document for lsp-pyright.
  docs/lsp-clients.json
  mkdocs.yml
Labels: documentation

#2079 add lsp-rf.el
  docs/lsp-clients.json
  lsp-clients.el
  lsp-mode.el
  lsp-rf.el
Labels: migration

#2078 Add lsp-cmake.el
  docs/lsp-clients.json
  lsp-clients.el
  lsp-cmake.el
  lsp-mode.el
Labels: migration

#2054 Angular client to lsp-angular.el
  docs/lsp-clients.json
  lsp-angular.el
  lsp-clients.el
  lsp-mode.el
Labels: migration

#2055 VimScript client to lsp-vimscript.el
  lsp-clients.el
  lsp-mode.el
  lsp-vimscript.el
Labels: migration

#2057 Nim clients to lsp-nim.el
  lsp-clients.el
  lsp-mode.el
  lsp-nim.el
Labels: migration

#2058 PHP clients to lsp-php.el
  docs/lsp-clients.json
  lsp-clients.el
  lsp-mode.el
  lsp-php.el
  lsp-serenata.el
Labels: migration

#2062 Lsp groovy.el
  docs/lsp-clients.json
  lsp-clients.el
  lsp-groovy.el
  lsp-mode.el
Labels: migration

#2063 Lsp kotlin.el
  docs/lsp-clients.json
  lsp-clients.el
  lsp-kotlin.el
  lsp-mode.el
Labels: migration

#2068 Add lsp-fortran.el
  lsp-clients.el
  lsp-fortran.el
  lsp-mode.el
Labels: migration

#2069 Add lsp-hack.el
  docs/lsp-clients.json
  lsp-clients.el
  lsp-hack.el
  lsp-mode.el
Labels: migration

#2070 Add lsp-elixir.el
  docs/lsp-clients.json
  lsp-clients.el
  lsp-elixir.el
  lsp-mode.el
Labels: migration

#2071 Add lsp-purescript.el
  docs/lsp-clients.json
  lsp-clients.el
  lsp-mode.el
  lsp-purescript.el
Labels: migration

#2073 Add lsp-tex.el
  lsp-clients.el
  lsp-mode.el
  lsp-tex.el
Labels: migration

#2052 JavaScript and TypeScript clients to lsp-javascript.el
  lsp-clients.el
  lsp-javascript.el
  lsp-mode.el
  test/lsp-clients-test.el
  test/lsp-javascript-test.el
Labels: migration

#2077 Add lsp-ocaml.el
  docs/lsp-clients.json
  lsp-clients.el
  lsp-mode.el
  lsp-ocaml.el
Labels: migration

#2083 add lsp-clangd.el
  docs/lsp-clients.json
  lsp-clangd.el
  lsp-clients.el
  lsp-mode.el
  test/lsp-clangd-test.el
  test/lsp-clients-test.el
Labels: migration

#2084 remove lsp-clients.el and its references
  docs/page/languages.md
  lsp-clients.el
  lsp-haxe.el
  lsp-mode.el
  test/lsp-clients-test.el
Labels: migration

#2092 Add Nix support in lsp-nix
  CHANGELOG.org
  docs/lsp-clients.json
  lsp-mode.el
  lsp-nix.el
  mkdocs.yml
Labels: new server

#2109 Move clients to folder
  .github/workflows/docs.yml
  .github/workflows/test.yml
  Cask
  Makefile
  clients/lsp-ada.el
  clients/lsp-angular.el
  clients/lsp-bash.el
  clients/lsp-clangd.el
  clients/lsp-clojure.el
  clients/lsp-cmake.el
  clients/lsp-crystal.el
  clients/lsp-csharp.el
  clients/lsp-css.el
  clients/lsp-dhall.el
  clients/lsp-dockerfile.el
  clients/lsp-elixir.el
  clients/lsp-elm.el
  clients/lsp-erlang.el
  clients/lsp-eslint.el
  clients/lsp-fortran.el
  clients/lsp-fsharp.el
  clients/lsp-gdscript.el
  clients/lsp-go.el
  clients/lsp-groovy.el
  clients/lsp-hack.el
  clients/lsp-haxe.el
  clients/lsp-html.el
  clients/lsp-javascript.el
  clients/lsp-json.el
  clients/lsp-kotlin.el
  clients/lsp-lua.el
  clients/lsp-nim.el
  clients/lsp-ocaml.el
  clients/lsp-perl.el
  clients/lsp-php.el
  clients/lsp-purescript.el
  clients/lsp-pwsh.el
  clients/lsp-pyls.el
  clients/lsp-r.el
  clients/lsp-rf.el
  clients/lsp-rust.el
  clients/lsp-solargraph.el
  clients/lsp-sqls.el
  clients/lsp-svelte.el
  clients/lsp-terraform.el
  clients/lsp-tex.el
  clients/lsp-verilog.el
  clients/lsp-vetur.el
  clients/lsp-vhdl.el
  clients/lsp-vimscript.el
  clients/lsp-xml.el
  clients/lsp-yaml.el
  test/lsp-integration-test.el
Labels: migration

#2121 Add lsp-jedi to language index
  mkdocs.yml
Labels: documentation

#2122 Fix links in README
  README.md
Labels: documentation

#2123 lsp-completion: Running command after insert selected candidate
  lsp-completion.el
Labels: completion
