Repository emacs-lsp/lsp-mode, pull requests merged in 2020-10, with the labels that each got.

#2221 lsp-go: remove mention of obsolete lsp-gopls group
  clients/lsp-go.el
Labels: client

#2233 [headerline] Fix all-the-icons support
  lsp-headerline.el
Labels: bug

#2231 Add json schema association for eslint
  clients/lsp-json.el
Labels: client

#2228 Automatic installation of eslint language server
  clients/lsp-eslint.el
  lsp-mode.el
  lsp-protocol.el
Labels: client

#2243 [modeline] - Move workspace status to modeline
  CHANGELOG.org
  lsp-mode.el
  lsp-modeline.el
Labels: migration

#2256 [lsp-racket] Add missing require statements
  clients/lsp-html.el
  clients/lsp-racket.el
Labels: client

#2270 Fix typo in troubleshooting.md
  docs/page/troubleshooting.md
Labels: documentation

#2274 C#: Address concerns about outdated documentation
  docs/lsp-clients.json
Labels: documentation

#2265 Make project configuration for php work with Serenata
  clients/lsp-php.el
Labels: client

#2264 lsp-xml: Allow automatic download of Lemminx (LSP XML) server
  CHANGELOG.org
  clients/lsp-xml.el
  docs/lsp-clients.json
Labels: client, documentation

#2263 lsp-xml: Support xml.validation.resolveExternalEntities setting
  clients/lsp-xml.el
Labels: client

#2277 minor correction in keybindings.md
  docs/page/keybindings.md
Labels: documentation

#2271 Bugfix/xref syntax highlighting
  lsp-mode.el
Labels: highlighting

#2289 Change from ht-get to lsp-get
  clients/lsp-fsharp.el
Labels: client

#2290 lsp-fsharp--project-list: correctly parse response
  clients/lsp-fsharp.el
Labels: client

#2292 [modeline] Allow modeline code action fallback icon customization
  lsp-modeline.el
Labels: feature-request

#2294 Add support for vala-language-server.
  CHANGELOG.org
  clients/lsp-vala.el
  docs/lsp-clients.json
  lsp-mode.el
Labels: client, documentation
