Repository emacs-lsp/lsp-mode, pull requests merged in 2021-07, with the labels that each got.

#2977 feat: use `name` instead of `description` for bettter readability
  clients/lsp-yaml.el
Labels: client

#2983 Format lsp-rust variable docstrings
  clients/lsp-rust.el
Labels: client, rust

#2984 Allow error when fontlock
  lsp-mode.el
Labels: minor

#2985 Add comment for allow fontlock error
  lsp-mode.el
Labels: minor

#2988 Make enum behave as type in semantic highlighting
  lsp-semantic-tokens.el
Labels: semantic-tokens

#2991 add k8s-mode to lsp-yaml client
  clients/lsp-yaml.el
Labels: client

#2790 Address #2448
  lsp-mode.el
  lsp-protocol.el
  lsp-semantic-tokens.el
Labels: semantic-tokens

#3000 Consider activation-fn from client during library-fn check
  lsp-mode.el
Labels: core

#3004 lsp-completion: fix completion context by using non-essential value
  lsp-completion.el
  test/lsp-completion-test.el
Labels: completion

#3007 Add missing semantic tokens from lsp spec
  lsp-semantic-tokens.el
Labels: semantic-tokens

#3008 Miscellaneous ESLint client changes and additions
  CHANGELOG.org
  clients/lsp-eslint.el
Labels: client, documentation

#3009 [lsp-rust] Add stopAtEntry for debugging lens
  clients/lsp-rust.el
Labels: client, rust

#3001 Minor semantic tokens cleanup
  lsp-mode.el
  lsp-semantic-tokens.el
Labels: semantic-tokens

#2993 expose Rust Analyzer: Move item up/down functionality
  CHANGELOG.org
  clients/lsp-rust.el
  lsp-protocol.el
Labels: client, documentation, rust

#3014 Create a more sane default for phpactor
  clients/lsp-php.el
Labels: client

#3025 Fix CI
  clients/lsp-rust.el
Labels: client, rust

#3024 Remove archived ocaml-language-server project
  mkdocs.yml
Labels: documentation

#3026 clients: fix typo 'environmeent' -> 'environment'
  clients/lsp-pyls.el
  clients/lsp-pylsp.el
Labels: client
