Repository emacs-lsp/lsp-mode, pull requests merged in 2021-09, with the labels that each got.

#3074 [lsp-diagnostics] Don't run flycheck-buffer when flycheck is not enabled in current buffer
  lsp-diagnostics.el
Labels: diagnostics

#3088 lsp-pwsh-dir: update path to match with new version of PSES
  clients/lsp-pwsh.el
Labels: client

#3084 Add Graphql client support
  CHANGELOG.org
  clients/lsp-graphql.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: new server, documentation, client

#3090 Fix lsp is not activated for less files
  clients/lsp-css.el
Labels: client

#3073 add missing option in texlab install command (documentation)
  docs/lsp-clients.json
Labels: documentation

#3096 lsp-csharp.el: introduce support for csharp-ls (alternative) language server
  clients/lsp-csharp.el
  docs/lsp-clients.json
  lsp-protocol.el
Labels: documentation, client

#3098 lsp-pwsh-setup: fix expanded path for PSES
  clients/lsp-pwsh.el
Labels: client

#3097 Improve accuracy and clarity of JavaScript/TypeScript server docs
  clients/lsp-javascript.el
  docs/lsp-clients.json
Labels: documentation, client

#3060 Clarify enabling Rust inlay hints in docs
  docs/manual-language-docs/lsp-rust-analyzer.md
Labels: documentation

#3100 lsp-csharp.el: remove `--version xxx` when installing csharp-ls using dotnet tool
  clients/lsp-csharp.el
Labels: client

#3106 [clojure] Handle reference code lens for lsp-clojure
  clients/lsp-clojure.el
Labels: client

#3107 add netcoredbg to docs
  docs/lsp-clients.json
Labels: documentation

#3099 Add lsp-log-io-allowlist-methods
  CHANGELOG.org
  lsp-mode.el
Labels: enhancement, documentation, core

#3111 filter noisy fsac error messages
  clients/lsp-fsharp.el
Labels: client

#3117 Add option to import project at default directory
  lsp-mode.el
Labels: core
