Repository emacs-lsp/lsp-mode, pull requests merged in 2021-03, with the labels that each got.

#2574 clients/lsp-csharp.el: implement commands to run tests
  clients/lsp-csharp.el
  lsp-protocol.el
Labels: client

#2635 Better defaults for clangd
  clients/lsp-clangd.el
Labels: client

#2299 lsp-rust: support rust-analyzer.showReference lens
  clients/lsp-rust.el
  lsp-lens.el
  lsp-mode.el
Labels: client

#2660 Update gopls installation path
  docs/lsp-clients.json
Labels: documentation

#2662 [rust-analyzer] support for debug
  clients/lsp-rust.el
Labels: client

#2668 Fix wording in the docs
  docs/page/main-features.md
Labels: documentation

#2669 Mention on type formatting in docs
  docs/page/main-features.md
Labels: documentation

#2673 `lsp-ext-unzip-script' overwrite files WITHOUT prompting
  lsp-mode.el
Labels: enhancement

#2665 Update options for lua-language-server
  clients/lsp-lua.el
Labels: client

#2676 lsp-csharp.el: add "lsp-csharp-solution-file" customizable
  clients/lsp-csharp.el
Labels: client

#2682 Avoid errors on FreeBSD
  clients/lsp-lua.el
Labels: client

#2683 Add lsp-grammarly page
  CHANGELOG.org
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation

#2670 [bash] Turn on lsp-mode only in sh/bash files
  clients/lsp-bash.el
Labels: client

#2680 lsp-completion: support resolveSupport
  lsp-completion.el
  lsp-mode.el
  lsp-protocol.el
Labels: completion

#2688 Run GitHub Actions with fail-fast false
  .github/workflows/test.yml
Labels: CI

#2692 Fix indentation
  Cask
  lsp-completion.el
  lsp-mode.el
  lsp-semantic-tokens.el
Labels: completion, semantic-tokens

#2684 Cleanup lsp-completion-provider options
  lsp-completion.el
Labels: completion

#2667 Drop lsp--send-execute-command
  clients/lsp-clojure.el
  lsp-mode.el
Labels: client

#2696 Use inclusive comparison to construct a document-symbol hierarchy
  lsp-mode.el
Labels: headerline

#2700 Php web mode
  clients/lsp-php.el
  lsp-mode.el
Labels: client

#2703 Remove go-bingo language server from documentation
  mkdocs.yml
Labels: documentation

#2694 Add GitHub Actions Lint job
  .github/workflows/lint.yml
Labels: CI

#2649 Add new options added as of gopls v0.6.5.
  clients/lsp-go.el
Labels: client, go

#2710 lsp-pwsh: update installation command to use only one lsp-start-process
  clients/lsp-pwsh.el
Labels: client

#2708 Fix angular-ls starting exited error when using nvm
  clients/lsp-angular.el
Labels: client

#2706 Allow passing list of string as `lsp-terraform-server`
  clients/lsp-terraform.el
Labels: client

#2719 Copy-editing for CCP-guide.md
  docs/tutorials/CPP-guide.md
Labels: documentation, tutorial

#2721 Add support for dlang (serve-d)
  CHANGELOG.org
  clients/lsp-d.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: client, documentation

#2723 Add support for Zig (zls)
  CHANGELOG.org
  clients/lsp-zig.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: client, documentation

#2724 lsp-zig: allow zls executable path to be customized
  clients/lsp-zig.el
Labels: client

#2725 Adds deno entry to languages list in docs
  docs/lsp-clients.json
  mkdocs.yml
Labels: documentation

#2727 Remove unnecessary line break
  CHANGELOG.org
Labels: documentation, minor

#2729 Renamed ra-cargo-load-out-dirs-from-check to -run-build-scripts
  CHANGELOG.org
  clients/lsp-rust.el
Labels: client, documentation, rust

#2730 lsp-zig: rename variable to `lsp-zig-zls-executable`
  clients/lsp-zig.el
Labels: client

#2733 Fix missing url link
  mkdocs.yml
Labels: documentation

#2728 Add Rust-Analyzer reload workspace command
  CHANGELOG.org
  clients/lsp-rust.el
Labels: client, documentation, rust

#2734 [gopls] Change gc_details to be :json-false
  clients/lsp-go.el
Labels: client

#2731 docs: add new conventions when creating new client
  docs/page/adding-new-language.md
Labels: documentation

#2736 Fix handling of lsp-file-watch-ignored-[directories|files]
  CHANGELOG.org
  lsp-mode.el
  test/lsp-file-watch-test.el
Labels: core, documentation

#2747 [perl] add perl.logLevel and perl.showLocalVars option
  clients/lsp-perl.el
Labels: client

#2746 [clojure] Use same approach as lsp-java for opening library files
  clients/lsp-clojure.el
Labels: client

#2751 Add Unix CI test for Emacs 27.2
  .github/workflows/test.yml
Labels: CI

#2748 csharp: Remove custom installation code
  clients/lsp-csharp.el
Labels: client
