Repository emacs-lsp/lsp-mode, pull requests merged in 2021-02, with the labels that each got.

#2577 Update CPP-guide.md
  docs/tutorials/CPP-guide.md
Labels: documentation, tutorial

#2579 Make sure that json server runs for json files even in js-mode
  clients/lsp-json.el
  lsp-mode.el
Labels: client

#2372 Extend clangd with switch to header/source
  .github/workflows/test.yml
  CHANGELOG.org
  Makefile
  clients/lsp-clangd.el
  test/fixtures/SampleCppProject/CMakeLists.txt
  test/fixtures/SampleCppProject/src/CMakeLists.txt
  test/fixtures/SampleCppProject/src/individual_file.cpp
  test/fixtures/SampleCppProject/src/main.cpp
  test/fixtures/SampleCppProject/src/main.h
  test/lsp-clangd-test.el
  test/test-helper.el
Labels: client

#2589 Add docs pages
  mkdocs.yml
Labels: documentation

#2599 Add onlyUpdateDiagnosticsOnSave to lsp-elm
  clients/lsp-elm.el
Labels: client

#2601 Update clojure lsp server install
  clients/lsp-clojure.el
  clients/lsp-rust.el
  lsp-mode.el
Labels: client

#2523 Remove `lsp--ht-get'
  clients/lsp-svelte.el
  lsp-mode.el
Labels: client

#2593 Use auto-begin for company
  lsp-mode.el
Labels: completion

#2607 Add support for Deno language server
  CHANGELOG.org
  clients/lsp-javascript.el
  docs/lsp-clients.json
Labels: client, documentation

#2605 Add faq entry for #2600
  docs/page/faq.md
Labels: documentation

#2604 Do not use lsp-find-workspace in lsp-rust.el
  clients/lsp-rust.el
Labels: client

#2606 ensure flycheck checker is registered before calling lsp-flycheck-add-mode
  lsp-diagnostics.el
  lsp-mode.el
Labels: flycheck

#2614 Fix CI by removing dash-functional
  clients/lsp-clangd.el
  docs/lsp-doc.el
  lsp-mode.el
  test/windows-bootstrap.el
Labels: CI, client, documentation

#2621 lsp-angular: support inline template completions
  clients/lsp-angular.el
Labels: client

#2623 [Lens] Fix missing wrong lens when saving buffer quickly
  lsp-lens.el
Labels: bug

#2625 Document lsp-dired-mode
  CHANGELOG.org
  README.md
  docs/page/integration/dired-lsp.png
  docs/page/integration/dired.md
Labels: documentation

#2630 Implement eslint/probeFailed in lsp-eslint
  clients/lsp-eslint.el
Labels: client

#2632 lsp-clojure: remove bash -c from launch cmd
  clients/lsp-clojure.el
Labels: client

#2639 Improve signature help content
  lsp-mode.el
Labels: enhancement

#2631 Make paths for typescript-language-server configurable
  clients/lsp-javascript.el
Labels: client

#2641 [docs] Remove company-idle-delay from clojure guide
  docs/tutorials/clojure-guide.md
Labels: documentation, tutorial

#2640 ido integration for lsp-mode
  Cask
  README.md
  docs/page/integration/ido-workspace-symbol.png
  docs/page/integration/ido.md
  lsp-ido.el
  mkdocs.yml
Labels: documentation, enhancement

#2652 Update lsp-rust.md
  docs/manual-language-docs/lsp-rust.md
Labels: documentation

#2651 [lsp-lua] Support auto downloading and installing "lua-language-server"
  clients/lsp-lua.el
Labels: client

#2653 Handle javascript rename request
  clients/lsp-javascript.el
Labels: client

#2572 clients/lsp-csharp.el: add lsp-csharp-open-project-file
  clients/lsp-csharp.el
  lsp-protocol.el
Labels: client
