Repository emacs-lsp/lsp-mode, pull requests merged in 2021-08, with the labels that each got.

#3037 [clojure] Refresh semantic tokens after cider disconnected
  clients/lsp-clojure.el
Labels: client

#3005 only update current buffer on refresh if it belongs to a workspace
  lsp-semantic-tokens.el
Labels: semantic-tokens

#3042 Improve the Angular client
  CHANGELOG.org
  clients/lsp-angular.el
Labels: documentation, client

#3047 Add support for `workspace/codeLens/refresh`
  lsp-lens.el
  lsp-mode.el
Labels: 3.16

#3051 lsp-rust/rust-analyzer: expose experimental_procAttrMacros setting
  clients/lsp-rust.el
Labels: rust, client

#3031 Provide a better working minimal example
  docs/page/adding-new-language.md
Labels: documentation

#3070 fix[lsp-fsharp]: change permissions of fsac files
  clients/lsp-fsharp.el
Labels: client

#3072 lsp-rust: Add support for opening external docs
  clients/lsp-rust.el
  docs/manual-language-docs/lsp-rust-analyzer.md
  lsp-protocol.el
Labels: rust, documentation, client
