Repository emacs-lsp/lsp-mode, pull requests merged in 2021-06, with the labels that each got.

#2906 Add lsp-ltex page
  CHANGELOG.org
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
  test/test-packages.el
Labels: documentation

#2911 Fix doc name
  docs/lsp-clients.json
Labels: documentation

#2916 Add `lsp-steep-server-path` custom variable
  clients/lsp-steep.el
Labels: client

#2903 Add rust-analyzer.cargo.target setting
  clients/lsp-rust.el
Labels: client, rust

#2872 Don't assume web-mode is html
  clients/lsp-css.el
  clients/lsp-html.el
  docs/page/adding-new-language.md
  lsp-mode.el
Labels: client, documentation

#2926 Add support for beancount
  CHANGELOG.org
  clients/lsp-beancount.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: client, documentation

#2927 Fix server name typo, beancount
  docs/lsp-clients.json
Labels: documentation, minor

#2839 Elixir: Use either local build server or system binary
  clients/lsp-elixir.el
Labels: client

#2946 lsp-yaml: add configuration option for yaml.schemaStore.url
  clients/lsp-yaml.el
Labels: client

#2940 Add Roblox Lua Language Server
  clients/lsp-lua.el
  docs/lsp-clients.json
Labels: client, documentation

#2948 Use lsp-activate-on for clangd
  clients/lsp-clangd.el
Labels: client

#2881 Fix rust servers custom docs
  docs/lsp-clients.json
  docs/manual-language-docs/lsp-rust-analyzer.md
  docs/manual-language-docs/lsp-rust-rls.md
  examples/lsp-rust-analyzer-find-related-tests.gif
  examples/lsp-rust-analyzer-open-cargo-toml.gif
  mkdocs.yml
Labels: documentation

#2952 Add missing client capabilities
  lsp-mode.el
Labels: core

#2955 Add init option for rust-analyzer to set rustcSource
  clients/lsp-rust.el
Labels: client, rust

#2956 Add v vls support
  clients/lsp-v.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: client, documentation

#2957 Fix `lsp-activate-on` value for v-ls
  clients/lsp-v.el
Labels: client

#2951 Add additional initialization options supported by rust-analyzer.
  clients/lsp-rust.el
Labels: client, rust

#2950 Automatic installation for clangd
  clients/lsp-clangd.el
  lsp-mode.el
Labels: client

#2964 Fix C# installation note
  docs/lsp-clients.json
Labels: documentation

#2971 Fix types in lsp-pylsp.el
  clients/lsp-pylsp.el
Labels: client
