Repository emacs-lsp/lsp-mode, pull requests merged in 2021-01, with the labels that each got.

#2498 Fix byte compile error in Emacs 28
  clients/lsp-ocaml.el
Labels: client, minor

#2495 lsp--get-current-innermost-folding-range: fix bug
  lsp-mode.el
Labels: bug

#2418 [feature] Add hooks to run after text edit
  CHANGELOG.org
  clients/lsp-css.el
  clients/lsp-pwsh.el
  clients/lsp-rust.el
  lsp-completion.el
  lsp-mode.el
Labels: client

#2444 [sqls] implemented handling of the extension methods
  clients/lsp-sqls.el
  docs/manual-language-docs/lsp-sqls.md
  lsp-mode.el
Labels: client, documentation

#2496 Add clojure guide
  docs/tutorials/CPP-guide.md
  docs/tutorials/clojure-guide.md
  docs/tutorials/images/clojure-add-missing-ns.gif
  docs/tutorials/images/clojure-call-hierarchy.png
  docs/tutorials/images/clojure-clean-ns.gif
  docs/tutorials/images/clojure-code-lens.png
  docs/tutorials/images/clojure-completion.png
  docs/tutorials/images/clojure-find-references.gif
  docs/tutorials/images/clojure-formatting.gif
  docs/tutorials/images/clojure-import-project.png
  docs/tutorials/images/clojure-rename.gif
  docs/tutorials/images/clojure-semantic-tokens-cider.png
  docs/tutorials/images/clojure-semantic-tokens-off.png
  docs/tutorials/images/clojure-semantic-tokens-on.png
  docs/tutorials/images/clojure-syntax-checker.png
  mkdocs.yml
Labels: documentation, tutorial

#2501 Add csharp-tree-sitter-mode to known C# modes
  clients/lsp-csharp.el
  lsp-mode.el
Labels: client

#2513 README: link the opencollective page from the image
  README.md
Labels: documentation

#2518 digestif: support context-mode and texinfo-mode
  clients/lsp-tex.el
Labels: client

#2524 Add support for ActionScript 3.0 & MXML
  CHANGELOG.org
  clients/lsp-actionscript.el
  docs/lsp-clients.json
  lsp-mode.el
Labels: client, documentation

#2521 Fix rust-analyzer status command
  clients/lsp-rust.el
  lsp-protocol.el
Labels: client

#2502 Try restoring most of flycheck state when toggling diagnostics mode
  lsp-diagnostics.el
Labels: flycheck

#2507 Add flag to hide debug message
  lsp-mode.el
Labels: minor

#2511 Add mjs to ts-ls activation regexp
  clients/lsp-javascript.el
Labels: client

#2533 Apply other Emacs version for CI test
  .github/workflows/test.yml
  clients/lsp-elixir.el
  clients/lsp-elm.el
  clients/lsp-eslint.el
  clients/lsp-fsharp.el
  clients/lsp-javascript.el
  clients/lsp-kotlin.el
  clients/lsp-lua.el
  clients/lsp-perl.el
  clients/lsp-pwsh.el
  clients/lsp-pyls.el
  clients/lsp-rf.el
  clients/lsp-rust.el
  clients/lsp-svelte.el
  lsp-mode.el
  test/lsp-common-test.el
Labels: CI, client, minor

#2534 Implement lsp-eslint--confirm-local and update ESLint language server
  clients/lsp-eslint.el
  lsp-mode.el
  lsp-protocol.el
Labels: client

#2478 `lsp-iedit': add to docs, changelog, contributors
  CHANGELOG.org
  README.md
  docs/page/integration/iedit.md
  mkdocs.yml
Labels: documentation

#2538 Add new server settings to lsp-elm
  clients/lsp-elm.el
Labels: client

#2541 Disable flow-ls on json-mode
  clients/lsp-javascript.el
Labels: client

#2543 Update use-package declaration in official website!
  docs/page/installation.md
Labels: documentation

#2551 Add macOS to CI test
  .github/workflows/test.yml
Labels: CI

#2553 Revert "Force older working version for rust-analyzer"
  clients/lsp-rust.el
Labels: client

#2558 Add reason-mode to ocaml-lsp-server client
  clients/lsp-ocaml.el
Labels: client
