Repository emacs-lsp/lsp-mode, pull requests merged in 2021-11, with the labels that each got.

#3177 Add support for window/showDocument
  lsp-mode.el
  lsp-protocol.el
Labels: 3.16

#3183 performance.md: Instruct users on generating reports
  docs/page/performance.md
Labels: documentation

#3156 rust: add rust-analyzer option to unset #[cfg(test)] in specified crates
  clients/lsp-rust.el
Labels: rust, client

#3195 Fix phpactor URL & remove installation
  docs/lsp-clients.json
Labels: documentation

#3189 Fix 3 different cases of stale semantic highlights
  lsp-mode.el
  lsp-semantic-tokens.el
Labels: semantic-tokens

#3193 Add TOML support
  CHANGELOG.org
  clients/lsp-toml.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: new server, documentation, client

#3208 lsp-clangd: library-folders-fn support
  clients/lsp-clangd.el
Labels: client

#3218 Replace vetur.completion.useScaffoldSnippets with vetur.completion.scaffoldSnippetSources
  clients/lsp-vetur.el
Labels: client

#3227 Add support for CompletionItem.tags
  lsp-completion.el
  lsp-protocol.el
Labels: completion

#3229 Do not use company-doc-buffer
  lsp-completion.el
Labels: completion

#3234 Prioritize create edits before other edits
  lsp-mode.el
Labels: core
