Repository emacs-lsp/lsp-mode, pull requests merged in 2021-05, with the labels that each got.

#2825 SystemVerilog lsp client
  CHANGELOG.org
  clients/lsp-verilog.el
  docs/lsp-clients.json
  mkdocs.yml
Labels: client, documentation, new server

#2826 [semantic-tokens] Add support for semantic tokens faces overrides
  clients/lsp-clojure.el
  lsp-mode.el
  lsp-semantic-tokens.el
Labels: client, semantic-tokens

#2836 Prevents svlangserver from showing generic Language Server in customize
  clients/lsp-verilog.el
Labels: client

#2835 Prevents bash-ls group from showing language server in customize
  clients/lsp-bash.el
Labels: client

#2840 Prevents markdown group from showing language server in customize
  clients/lsp-markdown.el
Labels: client

#2841 Prevents robot group from showing language server in customize
  clients/lsp-rf.el
Labels: client

#2837 set company-capf backend to buffer local
  lsp-completion.el
Labels: completion

#2776 Add 2 rust analyzer LSP extensions
  CHANGELOG.org
  clients/lsp-rust.el
  docs/manual-language-docs/lsp-rust-analyzer-find-related-tests.gif
  docs/manual-language-docs/lsp-rust-analyzer-open-cargo-toml.gif
  docs/manual-language-docs/lsp-rust.md
  lsp-protocol.el
Labels: client, documentation, rust

#2850 fix(lsp-lua): treat boolean settings as booleans
  clients/lsp-lua.el
Labels: client

#2853 Bugfix, rust-analyzer arguments were dropped
  clients/lsp-rust.el
Labels: client, rust

#2852 [#2364] Work around NPM bug in lsp-install-server
  CHANGELOG.org
  lsp-mode.el
Labels: documentation

#2854 Remove duplicate highlights for iedit
  lsp-iedit.el
Labels: extensions

#2849 Update lsp-verilog.el to support svlangserver binary installed via npm
  clients/lsp-verilog.el
Labels: client

#2864 lsp-completion: Fix triggerKind on manual invokation
  Cask
  lsp-completion.el
  test/lsp-completion-test.el
  test/windows-bootstrap.el
Labels: completion

#2868 [lens] Add `lsp-lens-place-position`
  CHANGELOG.org
  lsp-lens.el
Labels: core, documentation

#2871 Fix spinner not showing on some cases
  lsp-mode.el
Labels: core

#2859 ensure callbacks and timers are called in "current tokenizing buffer" (fix #2858)
  lsp-semantic-tokens.el
Labels: semantic-tokens

#2878 Fix broken link
  README.md
Labels: documentation

#2885 Fix a typo in how-to-turn-off.md
  docs/tutorials/how-to-turn-off.md
Labels: documentation, tutorial

#2887 Add lsp-face-semhl-method to lsp-semantic-token-faces
  lsp-semantic-tokens.el
Labels: semantic-tokens

#2882 Expose lsp-client-download-server-fn
  docs/page/faq.md
  lsp-mode.el
Labels: core, documentation

#2838 Add lsp-sql-execute-paragraph
  CHANGELOG.org
  clients/lsp-sqls.el
Labels: client, documentation

#2898 Support additional `gopls` settings
  clients/lsp-go.el
Labels: client

#2900 lsp-completion: support InsertTextMode
  lsp-completion.el
  lsp-mode.el
  lsp-protocol.el
Labels: completion

#2902 lsp-rust-analyzer: fix download link to gzip files
  clients/lsp-rust.el
  lsp-mode.el
Labels: client, rust

#2907 Update installation command, lsp-grammarly
  docs/lsp-clients.json
Labels: documentation
