Repository emacs-lsp/lsp-mode, pull requests merged in 2021-04, with the labels that each got.

#2726 [diagnostics] Use a lighter gray on unnecessary face
  lsp-diagnostics.el
Labels: diagnostics

#2762 lsp-completion: check falsy value for some completion members
  lsp-completion.el
Labels: completion

#2764 Update lsp-elixir package.
  clients/lsp-elixir.el
Labels: client

#2756 Add Emacs 27.2 for windows CI test
  .github/workflows/test.yml
Labels: CI

#2766 Use the `language_server` default name for the lsp-elixir client.
  clients/lsp-elixir.el
Labels: client

#2759 csharp: write `run' when missing on misc archs (like arm) during installation
  clients/lsp-csharp.el
Labels: client

#2768 Properly build path for clj-kondo config
  clients/lsp-clojure.el
Labels: client

#2752 Improve performance of project file watch setup
  lsp-mode.el
Labels: performance

#2737 Get PHP Composer directory if possible
  clients/lsp-php.el
Labels: client

#2774 Add TRAMP example for Rust
  docs/manual-language-docs/lsp-rust.md
Labels: documentation

#2773 Fix empty cache being treated as cache
  lsp-completion.el
Labels: completion

#2779 Improve file watchers log
  lsp-mode.el
Labels: core

#2780 Quote parentheses at bol inside of doc-strings
  clients/lsp-elixir.el
  clients/lsp-rust.el
  lsp-mode.el
Labels: client, rust

#2784 [docs] update file watchers docs
  docs/Makefile
  docs/page/file-watchers.md
  docs/page/limitations.md
  docs/page/performance.md
  mkdocs.yml
Labels: documentation

#2711 [3.16] Insert replace support
  CHANGELOG.org
  docs/page/keybindings.md
  lsp-completion.el
  lsp-mode.el
  lsp-protocol.el
Labels: completion, documentation

#2785 Markdown lsp client
  CHANGELOG.org
  clients/lsp-markdown.el
  clients/lsp-pwsh.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: client, documentation, new server

#2786 Make sure that fix for #2675 is applied everywhere
  lsp-completion.el
Labels: completion

#2788 Cleanup lsp-mode lsp-performance
  CHANGELOG.org
  docs/page/performance.md
  docs/page/settings.md
  lsp-mode.el
  lsp-protocol.el
Labels: documentation

#2789 [docs] Auto generate settings docs
  docs/Makefile
  docs/lsp-doc.el
  docs/page/settings.md
  docs/template/lsp-var.md
  lsp-completion.el
  lsp-diagnostics.el
  lsp-dired.el
  lsp-headerline.el
  lsp-icons.el
  lsp-ido.el
  lsp-lens.el
  lsp-mode.el
  lsp-modeline.el
  lsp-semantic-tokens.el
Labels: completion, diagnostics, documentation, semantic-tokens

#2787 Default to basic highlighting until semantic highlighting is ready
  lsp-semantic-tokens.el
Labels: semantic-tokens

#2794 Document lsp-mode entry point
  docs/page/installation.md
Labels: documentation

#2793 Avoid positional arguments to define-minor-mode
  clients/lsp-rust.el
  lsp-mode.el
Labels: client, rust

#2800 Add customisation objects for `lsp-markdown`.
  clients/lsp-markdown.el
  lsp-mode.el
Labels: client

#2807 Fix type of lsp-yaml-custom-tags
  clients/lsp-yaml.el
Labels: client

#2811 Add consult-lsp to README
  README.md
  mkdocs.yml
Labels: documentation

#2814 lsp-xml: Enable on all XML file types
  clients/lsp-xml.el
Labels: client

#2815 Add po-language-server to the list of clients.
  docs/lsp-clients.json
Labels: documentation

#2816 Run lsp command in idle timer after server installation
  lsp-mode.el
Labels: core

#2821 Change s bindings to w
  CHANGELOG.org
  docs/page/keybindings.md
  lsp-mode.el
  refcard/lsp-refcard.pdf
  refcard/lsp-refcard.tex
Labels: core, diagnostics, documentation

#2823 Fix to reflect diagnostics to flymake on enabling lsp-diagnostics-mode
  lsp-diagnostics.el
Labels: diagnostics
