Repository emacs-lsp/lsp-mode, pull requests merged in 2021-12, with the labels that each got.

#3238 Allow a minimum PHP version to be specified in Intelephense
  clients/lsp-php.el
Labels: client

#3239 Correct group for lsp-intelephense-php-version
  clients/lsp-php.el
Labels: client

#3240 Add support for Nginx
  CHANGELOG.org
  clients/lsp-nginx.el
  clients/lsp-php.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#3245 Add variable for setting path to ada_language_server executable
  clients/lsp-ada.el
Labels: client

#3244 [ada] Add support for alire projects
  clients/lsp-ada.el
Labels: client

#3248 [lsp-terraform] add hashicorp lsp server
  clients/lsp-terraform.el
  docs/lsp-clients.json
Labels: documentation, client

#3250 [clojure] Add support for test tree feature
  clients/lsp-clojure.el
  lsp-protocol.el
Labels: client

#3259 [org] Use more appropriate identification for org-mode file (#3258)
  CHANGELOG.org
  lsp-mode.el
Labels: documentation

#3257 Add support for Volar
  CHANGELOG.org
  clients/lsp-volar.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#3230 Introduce a flag to disable automatic download
  docs/page/faq.md
  lsp-mode.el
Labels: documentation

#3273 [js/eslint] Update vscode-eslint extension download url
  clients/lsp-eslint.el
Labels: client

#2797 Put lsp-use-plists in lsp-doctor
  docs/page/performance.md
  lsp-mode.el
Labels: documentation

#3275 Move to new eldoc
  .github/workflows/test.yml
  CHANGELOG.org
  lsp-mode.el
Labels: documentation, CI

#3284 Fix typo in faq
  docs/page/faq.md
Labels: documentation

#3283 replace unified-language-server with remark-language-server
  CHANGELOG.org
  clients/lsp-remark.el
  docs/lsp-clients.json
Labels: documentation, client

#3280 Add lsp-start-plain function
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/page/troubleshooting.md
  lsp-mode.el
Labels: documentation

#3289 Fix error in rust macro expansion
  clients/lsp-rust.el
Labels: rust, client
