Repository emacs-lsp/lsp-mode, pull requests merged in 2022-12, with the labels that each got.

#3839 tests: Setup node is no longer required
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: CI

#3832 Fixed the expected ocaml server id
  clients/lsp-ocaml.el
Labels: client

#3845 tests: Avoid actions' warnings
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Eask
  Makefile
Labels: CI

#3849 chore: Update default port for gdscript
  clients/lsp-gdscript.el
Labels: client

#3854 Add :exclusive 'no to capf backend
  lsp-completion.el
Labels: completion

#3855 Prevents CPU throttling issue when LS doesn't support semantic token
  lsp-semantic-tokens.el
Labels: semantic-tokens

#3859 Fix CI
  Eask
  Makefile
  lsp-completion.el
  lsp-diagnostics.el
  lsp-dired.el
  lsp-headerline.el
  lsp-lens.el
  lsp-mode.el
  test/lsp-common-test.el
Labels: completion, CI, diagnostics

#3857 Fix csharp roslyn installation
  clients/lsp-csharp.el
Labels: client

#3860 json language server: Fix the binary name
  clients/lsp-json.el
Labels: client

#3861 Fix Nix documentation pages
  docs/lsp-clients.json
  mkdocs.yml
Labels: documentation

#3865 Implement features for Nix language server (Nil)
  README.md
  clients/lsp-nix.el
Labels: documentation, client

#3873 lsp-languague-id-configuration: enable file-name base dectection for more languages
  clients/lsp-cmake.el
  clients/lsp-csharp.el
  clients/lsp-dockerfile.el
  clients/lsp-go.el
  clients/lsp-rust.el
  lsp-mode.el
Labels: rust, client, dockerfile

#3870 Change npm package for volar manual installation
  docs/lsp-clients.json
Labels: documentation

#3879 add pylsp black plugin
  clients/lsp-pylsp.el
Labels: client

#3880 Updating lsp-kotlin to support `kotlin-ts-mode`
  CHANGELOG.org
  clients/lsp-kotlin.el
  lsp-mode.el
Labels: documentation, client

#3875 Add python-ts-mode to supported modes for pyls and pylsp
  clients/lsp-pyls.el
  clients/lsp-pylsp.el
Labels: client

#3883 Add elixir-ts-mode and heex-ts-mode
  CHANGELOG.org
  lsp-mode.el
Labels: documentation

#3843 Update lsp-magik
  CHANGELOG.org
  clients/lsp-magik.el
  docs/lsp-clients.json
Labels: documentation, client
