Repository emacs-lsp/lsp-mode, pull requests merged in 2022-09, with the labels that each got.

#3704 feat: Add LSP support for the DOT/Graphviz lang
  CHANGELOG.org
  clients/lsp-dot.el
  docs/lsp-clients.json
  lsp-mode.el
Labels: documentation, client

#3702 lsp-completion-at-point: simplify bound calculation
  lsp-completion.el
Labels: completion

#3709 client/lsp-elixir.el: bump elixir-ls version
  clients/lsp-elixir.el
Labels: client

#3712 Fix typo in lsp-go.el
  clients/lsp-go.el
Labels: client

#3719 Kotlin override/implement member functionality
  clients/lsp-kotlin.el
Labels: client

#3715 perl: add new client for PLS server
  CHANGELOG.org
  clients/lsp-perl.el
  clients/lsp-pls.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#3721 Support toggle ts-ls format capability
  clients/lsp-javascript.el
Labels: client

#3725 only display inlay hints when label is string
  clients/lsp-rust.el
Labels: rust, client

#3670 semantic-tokens: cache modifier lookups
  lsp-semantic-tokens.el
Labels: semantic-tokens

#3727 lsp-lua: fetch lua-language-server releases from repo directly
  clients/lsp-lua.el
  lsp-mode.el
Labels: client

#3659 Do not add empty options to initializationOptions in typescript-language-server
  clients/lsp-javascript.el
Labels: client

#3722 Fix: Don’t hardcode architecture in lsp-clojure on Linux
  clients/lsp-clojure.el
Labels: client

#3731 lsp-completion: reduce call to lsp server and remove unnecessary goto-char
  lsp-completion.el
Labels: completion

#3732 enable clangd for cuda-mode
  clients/lsp-clangd.el
  lsp-mode.el
Labels: client

#3736 clients/lsp-fsharp.el: respect `lsp-fsharp-server-install-dir` value
  clients/lsp-fsharp.el
Labels: client

#3740 More clear installation
  docs/lsp-clients.json
Labels: documentation

#3739 lsp-ansible: add command to show server metadata
  clients/lsp-ansible.el
Labels: client
