Repository emacs-lsp/lsp-mode, pull requests merged in 2022-06, with the labels that each got.

#3549 Terraform: Handle empty case for modules
  clients/lsp-terraform.el
  docs/manual-language-docs/lsp-terraform-ls.md
Labels: documentation, client

#3548 update rust-analyzer configuration
  clients/lsp-rust.el
Labels: rust, client

#3551 terraform: Ability to refresh modules widget
  clients/lsp-terraform.el
  docs/manual-language-docs/lsp-terraform-ls.md
Labels: documentation, client

#3566 use lsp-rust-analyzer-library-directories for rust-analyzer
  clients/lsp-rust.el
  docs/manual-language-docs/lsp-rust-analyzer.md
Labels: rust, documentation, client

#3563 Camel Java DSL with the Camel Language Server
  clients/lsp-camel.el
Labels: client

#3573 add Emacs 28.1 to GitHub Actions
  .github/workflows/test.yml
Labels: CI

#3578 update imports section for rust-analyzer config
  CHANGELOG.org
  clients/lsp-rust.el
Labels: rust, documentation, client

#3525 Don't set completion-at-point-functions to lsp exclusively (#3340)
  lsp-completion.el
Labels: completion

#3582 refactor lsp-elixir to be activated on "elixir"
  clients/lsp-elixir.el
Labels: client

#3585 fix 80 character width warnings
  clients/lsp-csharp.el
  clients/lsp-rust.el
  lsp-mode.el
Labels: rust, client

#3565 Kotlin run/debug code lenses
  CHANGELOG.org
  clients/lsp-kotlin.el
Labels: documentation, client

#3590 add option for rust-analyzer rangeFormatting
  clients/lsp-rust.el
Labels: rust, client

#3591 add new rust-analyzer commands
  clients/lsp-rust.el
  lsp-protocol.el
Labels: rust, client

#3594 Fix test errors
  clients/lsp-rust.el
Labels: rust, client

#3597 lsp-rust: set UPDATE_EXPECT=1 when expect-test on runnable
  CHANGELOG.org
  clients/lsp-rust.el
  lsp-protocol.el
Labels: rust, documentation, client

#3598 lsp-rust: fix bad cond case in inlay-hints
  clients/lsp-rust.el
Labels: rust, client
