Repository emacs-lsp/lsp-mode, pull requests merged in 2022-11, with the labels that each got.

#3795 Do not use 'nil for the nix nil server id
  clients/lsp-nix.el
Labels: client

#3787 fix: support volar 1.0
  CHANGELOG.org
  clients/lsp-volar.el
Labels: documentation, client

#3792 Support for native json-rpc
  clients/lsp-gdscript.el
  lsp-mode.el
Labels: client

#3801 clients/lsp-volar.el: fix lsp-volar-get-typescript-server-path
  clients/lsp-volar.el
Labels: client

#3805 fix(lsp-volar): diagnosticMode -> diagnosticModel
  clients/lsp-volar.el
Labels: client

#3778 Rework terraform support for semantic tokens
  clients/lsp-terraform.el
Labels: client

#3809 Fix reborrow hints option for rust
  clients/lsp-rust.el
Labels: rust, client

#3800 clients/lsp-volar.el: check for vue also in devDependencies
  clients/lsp-volar.el
Labels: client

#3815 Fix usage of ...trigger-for-incomplete-completions
  CHANGELOG.org
  lsp-completion.el
  test/lsp-completion-test.el
Labels: documentation, completion

#3637 Allow to not cut the signature received on hover
  clients/lsp-ocaml.el
Labels: client

#3813 lsp-graphql: add locally installed command, if present, as preferred option
  clients/lsp-graphql.el
Labels: client

#3816 Support for Astro language server
  clients/lsp-astro.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#3810 Workaround new Eldoc on Emacs 27
  .github/workflows/test.yml
  CHANGELOG.org
  lsp-mode.el
Labels: documentation, CI

#3828 Replace Cask with Eask
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .gitignore
  Cask
  Eask
  Makefile
  test/downstream/Eask
  test/downstream/run.sh
  test/test-packages.el
  test/windows-bootstrap.el
Labels: CI

#3820 Added initializaion options to astro-ls
  clients/lsp-astro.el
Labels: client

#3831 Improve support for emacs29 tree-sitter based major-modes
  clients/lsp-csharp.el
  clients/lsp-eslint.el
  clients/lsp-graphql.el
  clients/lsp-javascript.el
  clients/lsp-volar.el
  lsp-mode.el
Labels: client
