Repository emacs-lsp/lsp-mode, pull requests merged in 2022-07, with the labels that each got.

#3596 lsp-ansible: update settings
  clients/lsp-ansible.el
Labels: client

#3600 Download aarch64 version of rust-analyzer for ARM based Macs
  clients/lsp-rust.el
Labels: rust, client

#3425 allow using only executable name for csharp server path
  clients/lsp-csharp.el
Labels: client

#3603 Fix lsp-elixir and plists
  clients/lsp-elixir.el
Labels: client

#3448 Add documentation for docker integration
  docs/tutorials/docker-integration.md
Labels: documentation, tutorial

#3611 Avoid invalid face reference errors
  lsp-diagnostics.el
Labels: diagnostics

#3617 add insertSpaceAfterOpeningAndBeforeClosingEmptyBraces option in workspace/didChangeConfiguration of typescript/javascript language server
  clients/lsp-javascript.el
Labels: client

#3616 lsp-ansible: add command to resync inventory
  clients/lsp-ansible.el
Labels: client

#3619 fix: ClojureScript Debugging tutorial: support Chromium
  docs/tutorials/debugging-clojure-script.md
Labels: documentation, tutorial

#3622 fix: clojure-lsp download link using macos arch
  clients/lsp-clojure.el
Labels: client

#3514 openscad: better server; support both stdio and tcp connection types
  clients/lsp-openscad.el
Labels: client

#3327 Various fixes to lsp-fsharp
  CHANGELOG.org
  clients/lsp-fsharp.el
  lsp-mode.el
Labels: documentation, client

#3626 Tweak semantic tokens for terraform
  clients/lsp-terraform.el
Labels: client

#3630 terraform: Add documentation related to links
  clients/lsp-terraform.el
  docs/manual-language-docs/lsp-terraform-ls.md
  examples/lsp-terraform-open-link.gif
Labels: documentation, client

#3633 terraform docs: Fix rendering of lists
  docs/manual-language-docs/lsp-terraform-ls.md
Labels: documentation

#3631 Add option `lsp-purescript-formatter`
  clients/lsp-purescript.el
Labels: client

#3632 Add client configuration for Marksman
  CHANGELOG.org
  clients/lsp-marksman.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#3592 add `workingDirectory` support to `eslint` client
  clients/lsp-eslint.el
Labels: client

#3620 Add Support for Spacemacs
  docs/tutorials/clojure-guide.md
Labels: documentation, tutorial
