Repository emacs-lsp/lsp-mode, pull requests merged in 2022-05, with the labels that each got.

#3509 terraform-ls: Support commands for init and validate
  clients/lsp-terraform.el
Labels: client

#3515 Gopls use deamon mode by default
  clients/lsp-go.el
Labels: client

#3522 Docs for lsp-terraform
  docs/manual-language-docs/lsp-terraform.md
  examples/lsp-terraform-validate.png
Labels: documentation

#3524 terraform: Reference counts using Code Lens
  clients/lsp-terraform.el
Labels: client

#3526 docs(terraform): add terraform-ls page
  mkdocs.yml
Labels: documentation

#3529 Remove references to gccmacs on "Performance" web page
  docs/page/performance.md
Labels: documentation

#3535 terraform: Add semantic token support
  clients/lsp-terraform.el
  lsp-mode.el
  lsp-semantic-tokens.el
Labels: client, semantic-tokens

#3508 Add Gleam support
  CHANGELOG.org
  clients/lsp-gleam.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#3537 terraform: Providers integration using treemacs
  clients/lsp-terraform.el
Labels: client

#3539 Fix broken format lsp-clients.json
  docs/lsp-clients.json
Labels: documentation

#3540 Revamp documentation for terraform client
  docs/manual-language-docs/lsp-terraform-ls.md
  docs/manual-language-docs/lsp-terraform.md
  examples/lsp-terraform-code-lens-refs.gif
  examples/lsp-terraform-modules-treemacs.png
  examples/lsp-terraform-providers-treemacs.png
  examples/lsp-terraform-with-semantic-token.png
  examples/lsp-terraform-without-semantic-token.png
  mkdocs.yml
Labels: documentation
