Repository emacs-lsp/lsp-mode, pull requests merged in 2022-03, with the labels that each got.

#3376 Add client for Ansible
  CHANGELOG.org
  clients/lsp-ansible.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#3379 Fix: disable volar customize request
  clients/lsp-volar.el
Labels: client

#3306 Add client for idris2-lsp
  CHANGELOG.org
  clients/lsp-idris.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#3384 Add emmet-ls support
  CHANGELOG.org
  clients/lsp-emmet.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#3351 Support all `initializationOptions` in `typescript-language-server`
  CHANGELOG.org
  clients/lsp-javascript.el
Labels: documentation, client

#3387 Fix a minor formatting mistake
  docs/page/performance.md
Labels: documentation

#3400 Added support for the PerlNavigator LSP server along with automatic i…
  clients/lsp-perlnavigator.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#3401 Fix a few rust-analyzer customs
  clients/lsp-rust.el
Labels: rust, client

#3402 PHP docs/tweaks
  clients/lsp-php.el
  docs/lsp-clients.json
  docs/tutorials/images/php-breakpoint.png
  docs/tutorials/images/php-code-action-post.png
  docs/tutorials/images/php-completion.png
  docs/tutorials/images/php-debug.png
  docs/tutorials/images/php-errors-list.png
  docs/tutorials/images/php-hover-info.png
  docs/tutorials/images/php-project-root.png
  docs/tutorials/images/php-rename-post.png
  docs/tutorials/images/php-rename-pre.png
  docs/tutorials/images/php-select-server.png
  docs/tutorials/images/php-signature-help.png
  docs/tutorials/images/php-successful-install.png
  docs/tutorials/images/php-treemacs-references.png
  docs/tutorials/images/php-treemacs.png
  docs/tutorials/php-guide.md
  mkdocs.yml
Labels: documentation, tutorial, client

#3405 Utilize lsp-defcustom in adding new language server instructions
  docs/page/adding-new-language.md
  scripts/lsp-generate-settings.el
Labels: documentation

#3407 disable failing tests with emacs snapshot
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: CI

#3412 Update incorrect extensions in PHP tutorial
  docs/tutorials/php-guide.md
Labels: documentation, tutorial

#3382 Increase the priority for ansible-ls
  clients/lsp-ansible.el
Labels: client

#3416 Fix documentation editing
  .gitignore
  README.md
  docs/lsp-clients.json
  docs/lsp-doc.el
  docs/manual-language-docs/lsp-latex.md
  docs/manual-language-docs/lsp-org.md
  docs/manual-language-docs/lsp-rust-analyzer.md
  docs/manual-language-docs/lsp-rust-rls.md
  docs/manual-language-docs/lsp-sqls.md
  docs/page/adding-new-language.md
  docs/page/faq.md
  docs/page/file-watchers.md
  docs/page/gallery.md
  docs/page/installation.md
  docs/page/integration/dired.md
  docs/page/integration/ido.md
  docs/page/integration/iedit.md
  docs/page/keybindings.md
  docs/page/languages.md
  docs/page/main-features.md
  docs/page/performance.md
  docs/page/remote.md
  docs/page/troubleshooting.md
  docs/tutorials/CPP-guide.md
  docs/tutorials/clojure-guide.md
  docs/tutorials/debugging-clojure-script.md
  docs/tutorials/how-to-turn-off.md
  docs/tutorials/php-guide.md
  docs/tutorials/reactjs-tutorial.md
  mkdocs.yml
  theme/partials/content.html
Labels: documentation, tutorial

#3418 Required project.el
  docs/lsp-doc.el
Labels: documentation

#3419 Revert project.el usage
  docs/lsp-doc.el
Labels: documentation

#3409 Add support for TypeScript Language Server's format options
  clients/lsp-javascript.el
  clients/lsp-vetur.el
Labels: client

#3421 Specify correct emacs version for lint action
  .github/workflows/lint.yml
Labels: CI

#3422 Add support for rust-analyzer.linkedProjects in lsp-rust
  clients/lsp-rust.el
Labels: rust, client

#3423 Resolve path issues with mkdocs
  docs/lsp-doc.el
  mkdocs.yml
  overrides/partials/content.html
Labels: documentation

#3424 lsp-json/html/css: install from vscode-langservers-extracted
  clients/lsp-css.el
  clients/lsp-html.el
  clients/lsp-json.el
Labels: client

#3427 Update docs.yml to use latest container registry
  .github/workflows/docs.yml
Labels: CI

#3429 lsp-yaml: Also make parents of download directory
  clients/lsp-yaml.el
Labels: client

#3432 lsp-volar: rename @volar/sever to @volar/vue-language-server
  clients/lsp-volar.el
Labels: client

#3434 lsp-ansible: Silence byte-compiler
  clients/lsp-ansible.el
Labels: client
