Repository emacs-lsp/lsp-mode, pull requests merged in 2022-02, with the labels that each got.

#3339 More explicit sqls instructions +mssql dsn example
  docs/manual-language-docs/lsp-sqls.md
Labels: documentation

#3356 Fix typo on alire
  clients/lsp-ada.el
Labels: client

#3358 Add client for Ruby's TypeProf
  CHANGELOG.org
  clients/lsp-typeprof.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#3361 Add support for TTCN3
  clients/lsp-ttcn3.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#3367 Update ruby client indexes in mkdocs
  docs/lsp-clients.json
  mkdocs.yml
Labels: documentation

#3352 Add action-handler for lsp-sql-execute-paragraph
  clients/lsp-sqls.el
Labels: client

#3333 [lsp-magik] Add LSP client for Magik
  clients/lsp-magik.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: new server, documentation, client

#3363 Add client for Volar
  CHANGELOG.org
  clients/lsp-volar.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#3373 Fix `lsp-rust-analyzer-debug` hangs with long running processes
  clients/lsp-rust.el
Labels: rust, client

#3362 make fsautocomplete working without change user config
  clients/lsp-fsharp.el
Labels: client
