Repository emacs-lsp/lsp-mode, pull requests merged in 2022-04, with the labels that each got.

#3441 lsp-ansible: add missing variable in register settings
  clients/lsp-ansible.el
Labels: client

#3443 fix typo
  docs/page/performance.md
Labels: documentation

#3444 lsp-openscad: Add OpenSCAD language server
  clients/lsp-openscad.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#3452 rust-analyzer: Adapt some setting defaults to the server-side defaults
  clients/lsp-rust.el
Labels: rust, client

#3451 Update lsp-toml to support latest Taplo
  clients/lsp-toml.el
  docs/lsp-clients.json
Labels: documentation, client

#3455 Add support for inlay hints from TypeScript language server
  CHANGELOG.org
  clients/lsp-javascript.el
  lsp-protocol.el
Labels: documentation, client

#3463 Change number formating to 20,000
  README.md
Labels: documentation

#3457 Ignore coded/changedSelectedWorkspace and coded/initDubTree
  clients/lsp-d.el
Labels: client

#3462 Allow Kotlin to auto install correctly
  clients/lsp-kotlin.el
Labels: client

#3467 Fix inlayHint request in latest rust-analyzer.
  clients/lsp-rust.el
  lsp-protocol.el
Labels: rust, client

#3474 fsharp: ignore new notifications that have appeared with latest fsac
  clients/lsp-fsharp.el
Labels: client

#3480 Fix lsp-rust-analyzer-open-cargo-toml to use the current buffer workspace
  clients/lsp-rust.el
Labels: rust, client

#3483 Add troubleshooting info for nested go.mod
  docs/manual-language-docs/lsp-gopls.md
  mkdocs.yml
Labels: documentation

#3482 Add support for rename file operations
  CHANGELOG.org
  lsp-mode.el
  lsp-protocol.el
Labels: documentation, 3.16

#3489 Only display JavaScript inlay hints for code in view
  clients/lsp-javascript.el
Labels: client

#3456 Add support for PureScript LSP settings
  clients/lsp-purescript.el
Labels: client

#3493 Improve project root to use read-char-from-minibuffer
  CHANGELOG.org
  lsp-mode.el
Labels: documentation, core

#3494 Link to python poetry + pyenv debugging guide.
  mkdocs.yml
Labels: documentation

#3496 lsp-rust: files/watcher should be a string
  clients/lsp-rust.el
Labels: rust, client

#3495 Add support for a completion item label details
  CHANGELOG.org
  lsp-completion.el
  lsp-protocol.el
Labels: documentation, completion
