Repository emacs-lsp/lsp-mode, pull requests merged in 2022-10, with the labels that each got.

#3745 README.md: add @razzmatazz (myself) as F#/C# maintainer
  README.md
Labels: documentation

#3737 Fix F# executable finding
  clients/lsp-fsharp.el
Labels: client

#3741 lsp-yaml: support for gitlab-ci-mode
  clients/lsp-yaml.el
  lsp-mode.el
Labels: client

#3748 use `go install` instead of `go get`
  docs/lsp-clients.json
Labels: documentation

#3680 Permit semantic token overrides to extend base set
  lsp-mode.el
  lsp-semantic-tokens.el
Labels: semantic-tokens

#3747 lsp-eslint: support glob patterns for workingDirectories parameter
  clients/lsp-eslint.el
Labels: client

#3751 docs: fix header for forgetting workspace folders
  docs/page/faq.md
Labels: documentation

#3750 lsp-ansible: update settings
  clients/lsp-ansible.el
Labels: client

#3668 lsp-rust: add semantic token modifiers
  CHANGELOG.org
  clients/lsp-rust.el
Labels: rust, documentation, client

#3764 Upgrade lsp-xml version and add new formatting options
  CHANGELOG.org
  clients/lsp-xml.el
Labels: documentation, client

#3766 patch for snippets in ts-ls
  clients/lsp-javascript.el
  lsp-completion.el
Labels: completion, client

#3776 Remove deprecated `--background-services-enabled` flag to FSAC
  clients/lsp-fsharp.el
Labels: client

#3788 Suggestion of adding `clients' to `load-path'
  docs/page/installation.md
Labels: documentation

#3789 :rocket: `feat` Add Nix lsp, nil
  CHANGELOG.org
  clients/lsp-nix.el
  docs/lsp-clients.json
  mkdocs.yml
Labels: documentation, client
