Repository emacs-lsp/lsp-mode, pull requests merged in 2022-08, with the labels that each got.

#3649 docs(links): Update install instructions and links for html/css/json language server
  docs/lsp-clients.json
Labels: documentation

#3651 docs(links): Update install instruction for lsp-grammarly
  docs/lsp-clients.json
Labels: documentation

#3654 typo/code fix CPP-guide
  docs/tutorials/CPP-guide.md
Labels: documentation, tutorial

#3653 feat(clients): add support for the syntax_tree Ruby gem
  CHANGELOG.org
  clients/lsp-ruby-syntax-tree.el
  docs/lsp-clients.json
  lsp-mode.el
Labels: documentation, client

#3655 Add configuration for excluding declarations from xrefs/references
  CHANGELOG.org
  lsp-mode.el
Labels: documentation

#3671 update openscad doc
  docs/lsp-clients.json
Labels: documentation

#3677 Fix omnisharp installation w/ omnisharp >= v1.39.0
  clients/lsp-csharp.el
Labels: client

#3682 Allow dynamicRegistration for declaration/definition/completion
  lsp-completion.el
  lsp-mode.el
Labels: completion

#3679 Add mint-lang client
  CHANGELOG.org
  clients/lsp-mint.el
  docs/lsp-clients.json
  lsp-mode.el
Labels: documentation, client

#3684 terraform: Implement new command to get discovered versions
  clients/lsp-terraform.el
  docs/manual-language-docs/lsp-terraform-ls.md
  lsp-protocol.el
Labels: documentation, client

#3691 correctly implement try-completion and test-completion actions
  lsp-completion.el
Labels: completion

#3690 Make more capabilities become dynamically registrable
  lsp-completion.el
  lsp-mode.el
Labels: completion

#3694 [ansible] replace mode equality check with `derived-mode-p`
  clients/lsp-ansible.el
Labels: client

#3697 docs: update Fortran LSP to fortls
  clients/lsp-fortran.el
  docs/lsp-clients.json
Labels: documentation, client

#3698 Allow running the Sorbet server as an add-on alongside Solargraph
  CHANGELOG.org
  CONTRIBUTING.md
  clients/lsp-sorbet.el
Labels: documentation, client
