Repository emacs-lsp/lsp-mode, pull requests merged in 2023-09, with the labels that each got.

#4156 Updating Crystal LSP
  clients/lsp-crystal.el
  docs/lsp-clients.json
  docs/tutorials/crystal-guide.md
  docs/tutorials/images/crystal-syntax-checker.png
  mkdocs.yml
Labels: documentation, tutorial, client

#4163 Add support for python-lsp-server pyls-isort plugin.
  clients/lsp-pylsp.el
Labels: client

#4155 Add Move language client
  CHANGELOG.org
  clients/lsp-move.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4165 lsp-erlang: update ELP download file names
  CHANGELOG.org
  clients/lsp-erlang.el
Labels: documentation, client

#4166 lsp-erlang: Add semantic token support for erlang-language-platform
  CHANGELOG.org
  clients/lsp-erlang.el
Labels: documentation, client

#4141 MDX support
  CHANGELOG.org
  clients/lsp-mdx.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4178 Bump elixir-ls version
  clients/lsp-elixir.el
Labels: client

#4176 Bump magik language server to 0.8.0
  clients/lsp-magik.el
Labels: client

#4183 Fix typo in php-guide.md
  docs/tutorials/php-guide.md
Labels: documentation, tutorial
