Repository emacs-lsp/lsp-mode, pull requests merged in 2023-08, with the labels that each got.

#4119 pylsp: add missing rope-related configuration options
  clients/lsp-pylsp.el
Labels: client

#4122 lsp-erlang: Add initial support for erlang-language-platform
  CHANGELOG.org
  clients/lsp-erlang.el
  docs/lsp-clients.json
Labels: documentation, client

#4127 json-lsp: add url to example for json-lsp-schemas
  clients/lsp-json.el
Labels: client

#4126 fix(lsp-mode.el): Drop support for 26.3
  .github/workflows/test.yml
  CHANGELOG.org
  Eask
  lsp-mode.el
Labels: documentation, CI

#4132 Add client registration to lua-ts-mode and gdscript-ts-mode
  clients/lsp-gdscript.el
  clients/lsp-lua.el
  lsp-mode.el
Labels: client

#4134 [beancount] Use the Rust version of language server
  clients/lsp-beancount.el
  docs/lsp-clients.json
Labels: documentation, client

#4142 fix clang-tidy error explainer url
  clients/lsp-clangd.el
Labels: client

#4090 Add RuboCop built-in launguage server for linting Ruby code
  CHANGELOG.org
  clients/lsp-rubocop.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4145 Fix a typo for lsp-rubocop
  docs/lsp-clients.json
Labels: documentation

#4139 [lsp-magik] Support JAVA_HOME with trailing slash
  clients/lsp-magik.el
Labels: client

#4147 lsp-erlang: set priority lower than erlang_ls if elp not selected
  clients/lsp-erlang.el
Labels: client

#4121 Add cjs and js-ts-mode in lsp-javascript
  clients/lsp-javascript.el
Labels: client
