Repository emacs-lsp/lsp-mode, pull requests merged in 2023-02, with the labels that each got.

#3937 Update Vue3 documentation
  CHANGELOG.org
  docs/lsp-clients.json
Labels: documentation

#3941 Add ruby-ts-mode support
  CHANGELOG.org
  clients/lsp-ruby-syntax-tree.el
  clients/lsp-solargraph.el
  clients/lsp-sorbet.el
  clients/lsp-steep.el
  clients/lsp-typeprof.el
  lsp-mode.el
Labels: documentation, client

#3943 lsp-rust: fix inlay hints
  clients/lsp-rust.el
Labels: rust, client

#3949 fix Solargraph documentation string
  clients/lsp-solargraph.el
Labels: client

#3946 Handle string inlay hints
  clients/lsp-rust.el
Labels: rust, client

#3955 Updated documentation for lsp-vhdl.el
  clients/lsp-vhdl.el
Labels: client

#3957 lsp-javascript: fix inlay hints
  clients/lsp-javascript.el
  lsp-protocol.el
Labels: client

#3959 Fix customization parent group of lsp-volar
  clients/lsp-volar.el
Labels: client

#3926 Added more LSP support for Python by adding ruff-lsp support.
  CHANGELOG.org
  clients/lsp-ruff-lsp.el
  docs/lsp-clients.json
  mkdocs.yml
Labels: documentation, client

#3953 Add bash-ts-mode support
  CHANGELOG.org
  clients/lsp-bash.el
  lsp-mode.el
Labels: documentation, client

#3964 Update lsp-magik
  clients/lsp-magik.el
Labels: client

#3965 Bump magik language server to 0.7.1
  clients/lsp-magik.el
Labels: client

#3922 feat(lsp-javascript): add support tsserver options
  clients/lsp-javascript.el
Labels: client

#3914 Add Standard ML (Millet)
  clients/lsp-sml.el
  docs/lsp-clients.json
  mkdocs.yml
Labels: documentation, client

#3974 Restore lsp-rust-analyzer-cargo-all-targets
  clients/lsp-rust.el
Labels: rust, client

#3976 terraform-ls: Prefill required fields and ability to validate on save
  CHANGELOG.org
  clients/lsp-terraform.el
  docs/manual-language-docs/lsp-terraform-ls.md
  examples/terraform-ls-prefill.gif
Labels: documentation, client
