Repository emacs-lsp/lsp-mode, pull requests merged in 2023-07, with the labels that each got.

#4069 Bump elixir-ls version
  clients/lsp-elixir.el
Labels: client

#4098 fix(marksman): Update Download URL for Marksman Linux Binaries
  clients/lsp-marksman.el
Labels: client

#4089 Add AWK language server support
  CHANGELOG.org
  clients/lsp-awk.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4102 fix(astro): astro lsp server 2.0+ uses tsdk
  clients/lsp-astro.el
Labels: client

#4052 Make lsp-ansible work on yaml-ts-mode buffers
  clients/lsp-ansible.el
Labels: client

#4105 Fix typos
  CHANGELOG.org
  clients/lsp-ansible.el
  clients/lsp-csharp.el
  clients/lsp-kotlin.el
  clients/lsp-sml.el
  clients/lsp-yaml.el
  lsp-completion.el
  lsp-headerline.el
  lsp-ido.el
  lsp-mode.el
  lsp-protocol.el
  test/lsp-methods-test.el
Labels: documentation, completion, client

#4106 Add support for scala-ts-mode
  CHANGELOG.org
  lsp-mode.el
Labels: documentation

#4103 Add configuration for lenses in lsp-rust.el
  clients/lsp-rust.el
Labels: rust, client

#4115 Remove redundant checks from lsp-credo.el, add note to docs
  clients/lsp-credo.el
  docs/page/adding-new-language.md
Labels: documentation, client

#4053 Make it possible to configure lsp-ansible as `add-on? t`
  clients/lsp-ansible.el
Labels: client

#4114 test: Emacs 29.1
  .github/workflows/test.yml
Labels: CI
