Repository emacs-lsp/lsp-mode, pull requests merged in 2023-11, with the labels that each got.

#4212 Update volar npm package name
  docs/lsp-clients.json
Labels: documentation

#4209 ignore backgrounddiagnosticstatus
  clients/lsp-csharp.el
Labels: client

#4204 Fix lsp-mode's tramp support
  docs/manual-language-docs/lsp-rust-analyzer.md
  docs/page/remote.md
  lsp-mode.el
Labels: documentation

#4220 Fix solidity language server binary name
  clients/lsp-solidity.el
Labels: client

#4219 Remove use of `string-lines` (#4217)
  lsp-completion.el
Labels: completion

#4224 Fix typo (`lsp-text-executable` -> `lsp-tex-executable`) in "adding languages" page
  docs/page/adding-new-language.md
Labels: documentation

#4211 lsp-go: Add possibility to wrap gopls binary (mostly for nix)
  clients/lsp-go.el
Labels: client

#4226 Reenable byte compilation tests
  clients/lsp-rust.el
  clients/lsp-solidity.el
  lsp-mode.el
  test/lsp-common-test.el
Labels: rust, client

#4214 Add Cypher language server
  CHANGELOG.org
  clients/lsp-cypher.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4235 Bump the magik language server to 0.8.2
  clients/lsp-magik.el
Labels: client

#4236 Fix CI
  clients/lsp-wgsl.el
Labels: client

#4238 Add golangci-lint add-on client using golangci-lint-langserver
  CHANGELOG.org
  clients/lsp-golangci-lint.el
  docs/lsp-clients.json
  lsp-mode.el
Labels: documentation, client

#4240 Fix golangci-lint client on Emacs 27
  clients/lsp-golangci-lint.el
  docs/lsp-clients.json
Labels: documentation, client

#4234 Make shaderdefs configurable for lsp-wgsl
  clients/lsp-wgsl.el
Labels: client

#4239 Add buf/protobuf support via bufls
  CHANGELOG.org
  clients/lsp-bufls.el
  docs/lsp-clients.json
  lsp-mode.el
Labels: documentation, client

#4241 Add envrc-file-mode support to lsp-bash
  CHANGELOG.org
  clients/lsp-bash.el
  lsp-mode.el
Labels: documentation, client

#4242 Add interactive function for viewing WGSL syntax tree
  clients/lsp-wgsl.el
Labels: client

#4243 Add option to install language servers using Cargo
  CHANGELOG.org
  clients/lsp-wgsl.el
  lsp-mode.el
Labels: documentation, client

#4244 [Bugfix] Add xref 1.6.3 as a dependency
  docs/lsp-doc.el
Labels: documentation
