Repository emacs-lsp/lsp-mode, pull requests merged in 2023-10, with the labels that each got.

#4187 lsp-erlang: update erlang-language-platform download file names
  CHANGELOG.org
  clients/lsp-erlang.el
Labels: documentation, client

#4182 Make it possible to override lsp-cmake server command
  clients/lsp-cmake.el
Labels: client

#4138 Add configuration to use new experimental ondisk cache for lsp-kotlin
  clients/lsp-kotlin.el
Labels: client

#4195 Bump the magik language server to 0.8.1
  clients/lsp-magik.el
Labels: client

#4193 Fix `lsp-completion--company-match` freezing #4192
  lsp-completion.el
Labels: completion

#4173 Rename blacklist to blocklist
  CHANGELOG.org
  clients/lsp-rust.el
  docs/page/keybindings.md
  lsp-mode.el
  refcard/lsp-refcard.tex
Labels: rust, documentation, client

#4140 Add jq-lsp, client for Jq language
  CHANGELOG.org
  clients/lsp-jq.el
  docs/lsp-clients.json
  lsp-mode.el
Labels: documentation, client

#4179 lsp-php: Support `intelephense.environment.includePaths`
  clients/lsp-php.el
Labels: client

#4196 support vimscript-ts-mode in lsp-vimscript.el
  clients/lsp-vimscript.el
  lsp-mode.el
Labels: client

#4181 fix: register awk client to account for custom executable
  clients/lsp-awk.el
  lsp-mode.el
Labels: client

#4198 ruby-lsp: Enable all available lsp features
  clients/lsp-ruby-lsp.el
Labels: client

#4199 Make lsp-ansible client multi-root
  clients/lsp-ansible.el
Labels: client

#4200 lsp-rust: Change rust-analyzer URL for new home at rust-lang
  CHANGELOG.org
  clients/lsp-rust.el
Labels: rust, documentation, client

#4197 Add new lsp-kotlin settings for inlay hints
  clients/lsp-kotlin.el
Labels: client

#4164 Fix so that lsp-semgrep-languages will take effect immediately
  clients/lsp-semgrep.el
Labels: client

#4120 lsp-openscad: fix completion when using plists
  clients/lsp-openscad.el
Labels: client

#4094 Fix a typo in lsp-steep
  clients/lsp-steep.el
Labels: client

#4084 Add ebuild-mode support to lsp-bash
  CHANGELOG.org
  clients/lsp-bash.el
Labels: documentation, client

#4082 Fix typos for ESLint in docs and messages
  clients/lsp-eslint.el
  docs/lsp-clients.json
  docs/tutorials/reactjs-tutorial.md
  mkdocs.yml
Labels: documentation, tutorial, client

#3962 Lsp volar activate
  clients/lsp-volar.el
Labels: client

#4208 feat: Add a solidity language server
  CHANGELOG.org
  clients/lsp-solidity.el
  docs/lsp-clients.json
  lsp-mode.el
Labels: documentation, client

#4207 feat(lsp-mojo): add LSP support for Mojo 🔥
  CHANGELOG.org
  clients/lsp-mojo.el
  lsp-mode.el
Labels: documentation, client
