Repository emacs-lsp/lsp-mode, pull requests merged in 2023-05, with the labels that each got.

#4037 Ignore bazel-* directories outside the root directory
  lsp-mode.el
Labels: bug

#4036 feat: Add support for ShaderLab
  CHANGELOG.org
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation

#4040 Introduce lsp-defcustom
  clients/lsp-ada.el
  clients/lsp-nim.el
  clients/lsp-nix.el
  clients/lsp-php.el
  clients/lsp-purescript.el
  clients/lsp-toml.el
  docs/page/adding-new-language.md
  lsp-mode.el
  scripts/lsp-generate-settings.el
Labels: documentation, client

#4035 docs(json-ls): yasnippet required to receive completions
  docs/manual-language-docs/lsp-json-ls.md
Labels: documentation

#4043 Don't include musl by default
  clients/lsp-lua.el
Labels: client

#4044 Fix parsing of response of textDocument/inlayHint method
  CHANGELOG.org
  lsp-mode.el
  lsp-protocol.el
Labels: documentation

#4047 fix(php): lsp-phpactor-path custom type
  clients/lsp-php.el
Labels: client

#4060 [docs][rust-analyzer] Update documentation for rust-analyzer inlay hints
  docs/manual-language-docs/lsp-rust-analyzer.md
Labels: documentation
