Repository emacs-lsp/lsp-mode, pull requests merged in 2023-01, with the labels that each got.

#3893 add :features to checkOnSave and use original descriptions
  clients/lsp-rust.el
Labels: rust, client

#3897 Fix JSON LSP command name when installing vscode-langservers-extracted globally
  clients/lsp-json.el
Labels: client

#3901 lsp-json: Multiple optional system dependency for json language server
  clients/lsp-json.el
Labels: client

#3886 Report multiline token support, ...
  lsp-semantic-tokens.el
Labels: semantic-tokens

#3909 Allow using the project's tsserver.js
  CHANGELOG.org
  clients/lsp-javascript.el
Labels: documentation, client

#3864 Fix CI
  Eask
  Makefile
  lsp-completion.el
  lsp-diagnostics.el
  lsp-dired.el
  lsp-headerline.el
  lsp-lens.el
  lsp-mode.el
  test/lsp-common-test.el
Labels: completion, diagnostics

#3925 sync lsp-toml-schema-catalogs with the latest taplo
  clients/lsp-toml.el
Labels: client

#3927 lsp-ph: 'format.braces'
  clients/lsp-php.el
Labels: client

#3931 lsp-pwsh--aply-code-action-document: update docs link
  clients/lsp-pwsh.el
Labels: client
