Repository emacs-lsp/lsp-mode, pull requests merged in 2023-04, with the labels that each got.

#4011 suppress codeLens refresh command for fsharp mode
  clients/lsp-fsharp.el
Labels: client

#4025 Add support for GLSL
  CHANGELOG.org
  clients/lsp-glsl.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4028 Bump clangd version. This is needed for inlay hints to work.
  clients/lsp-clangd.el
Labels: client

#3970 Move inlay hints implementation in core
  CHANGELOG.org
  clients/lsp-javascript.el
  clients/lsp-rust.el
  lsp-mode.el
  lsp-protocol.el
Labels: rust, documentation, client
