Repository emacs-lsp/lsp-mode, pull requests merged in 2024-11, with the labels that each got.

#4606 Add Nextflow Support
  CHANGELOG.org
  clients/lsp-nextflow.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4604 feat: add TypeSpec tsp-server support
  CHANGELOG.org
  clients/lsp-typespec.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4599 feat: add flag for rust-analyzer.cfg.setTest
  clients/lsp-rust.el
Labels: rust, client

#4614 lsp-roslyn: fix arm64 detection and use default window/logMessage handler
  clients/lsp-roslyn.el
Labels: client

#4612 ci: remove obsoleted if/when-let and shadowed dynamic variable and fix some byte-compile warnings
  clients/lsp-autotools.el
  clients/lsp-awk.el
  clients/lsp-camel.el
  clients/lsp-clangd.el
  clients/lsp-clojure.el
  clients/lsp-cobol.el
  clients/lsp-csharp.el
  clients/lsp-cucumber.el
  clients/lsp-eslint.el
  clients/lsp-glsl.el
  clients/lsp-go.el
  clients/lsp-javascript.el
  clients/lsp-lisp.el
  clients/lsp-markdown.el
  clients/lsp-prolog.el
  clients/lsp-rf.el
  clients/lsp-roslyn.el
  clients/lsp-rust.el
  clients/lsp-sqls.el
  clients/lsp-typespec.el
  clients/lsp-volar.el
  clients/lsp-yaml.el
  docs/lsp-doc.el
  lsp-completion.el
  lsp-diagnostics.el
  lsp-dired.el
  lsp-headerline.el
  lsp-mode.el
  lsp-protocol.el
  lsp-semantic-tokens.el
  test/lsp-mock-server-test.el
  test/lsp-test-utils.el
  test/mock-lsp-server.el
Labels: rust, documentation, completion, client, semantic-tokens, diagnostics

#4554 feat: support mode inputs on lsp-eslint-working-directory
  clients/lsp-eslint.el
Labels: client

#4618 ci: Make docstring limit to 1000
  Eask
  lsp-protocol.el
Labels: CI

#4619 ci: Treat compile warnings as errors
  Eask
Labels: CI

#4602 lsp-completion-passthrough-try-completion: make it more basic
  lsp-completion.el
  test/lsp-completion-test.el
Labels: completion

#4622 Switch to using TCP mode instead of stdio
  clients/lsp-rpm-spec.el
Labels: client

#4629 fix(rpm-spec): Compile error
  clients/lsp-rpm-spec.el
Labels: client

#4628 [feat] Handling `nimlangserver` `extension/statusUpdate`
  clients/lsp-nim.el
Labels: client

#4631 lsp-ansible: use new ansible mode name
  clients/lsp-ansible.el
Labels: client
