Repository emacs-lsp/lsp-mode, pull requests merged in 2024-05, with the labels that each got.

#4439 fi: Attempt to fix CI
  .github/workflows/test.yml
Labels: CI

#4447 feat: Add SQL support
  CHANGELOG.org
  clients/lsp-sql.el
  clients/lsp-sqls.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4442 Add support for mesonlsp
  CHANGELOG.org
  clients/lsp-meson.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4448 ci: typo
  .github/workflows/test.yml
Labels: CI

#4458 Update urls for the groovy-language-server
  clients/lsp-groovy.el
  docs/lsp-clients.json
Labels: documentation, client

#4333 fix: remove direct references to the node_modules directory
  clients/lsp-javascript.el
Labels: client

#4441 Add go-to definition in metadata
  CHANGELOG.org
  clients/lsp-csharp.el
  lsp-protocol.el
Labels: documentation, client

#4466 Added AUCTeX LaTeX-mode as a Latex mode
  clients/lsp-tex.el
  lsp-mode.el
Labels: client

#4465 rust-analyzer client: extract signature in hover content
  clients/lsp-rust.el
Labels: rust, client
