Repository emacs-lsp/lsp-mode, pull requests merged in 2024-12, with the labels that each got.

#4633 lsp-inline-completion: cleanup autoload to make it loads correctly
  lsp-completion.el
  lsp-inline-completion.el
  lsp-mode.el
Labels: completion

#4567 Add missing configuration options for the Ada Language Server.
  clients/lsp-ada.el
Labels: client

#4635 Feature/lsp copilot
  clients/lsp-copilot.el
  docs/lsp-clients.json
  lsp-inline-completion.el
  lsp-mode.el
  lsp-protocol.el
  mkdocs.yml
Labels: documentation, client

#4642 Fixed receieve typo to receive
  clients/lsp-roslyn.el
Labels: client

#4638 Fix typescript custom groups
  clients/lsp-javascript.el
Labels: client

#4650 feat(go): Add auto install for gopls
  clients/lsp-go.el
Labels: client

#4653 feat: Remove unused variable from lsp-magik
  clients/lsp-magik.el
Labels: client

#4663 Bump elixir-ls version to v0.25.0
  clients/lsp-elixir.el
Labels: client

#4664 Rust-Analyzer fix resolve failure on for_ref value being null
  lsp-completion.el
Labels: completion

#4647 feat: Add ts-query
  CHANGELOG.org
  clients/lsp-ts-query.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4652 Fix up many linting issues
  clients/lsp-autotools.el
  clients/lsp-awk.el
  clients/lsp-clojure.el
  clients/lsp-cucumber.el
  clients/lsp-eslint.el
  clients/lsp-glsl.el
  clients/lsp-idris.el
  clients/lsp-kotlin.el
  clients/lsp-lisp.el
  clients/lsp-lua.el
  clients/lsp-markdown.el
  clients/lsp-marksman.el
  clients/lsp-mdx.el
  clients/lsp-perlnavigator.el
  clients/lsp-php.el
  clients/lsp-pls.el
  clients/lsp-prolog.el
  clients/lsp-purescript.el
  clients/lsp-pwsh.el
  clients/lsp-pyls.el
  clients/lsp-pylsp.el
  clients/lsp-remark.el
  clients/lsp-rf.el
  clients/lsp-roslyn.el
  clients/lsp-rust.el
  clients/lsp-solargraph.el
  clients/lsp-wgsl.el
  clients/lsp-xml.el
  clients/lsp-yaml.el
Labels: rust, client

#4667 fix(ts-qurry): Change to init options
  clients/lsp-ts-query.el
Labels: client
