Repository emacs-lsp/lsp-mode, pull requests merged in 2024-09, with the labels that each got.

#4540 Fix typo in for digestify/LaTeX-mode
  clients/lsp-tex.el
Labels: client

#4542 Fix logic for rust-analyzer.checkOnSave.features setting inheritance
  CHANGELOG.org
  clients/lsp-rust.el
Labels: rust, documentation, client

#4535 docs: fix `lsp-sqls-workspace-config-path` behavior
  docs/manual-language-docs/lsp-sqls.md
Labels: documentation

#4543 Update ruff-lsp to ruff of Python
  CHANGELOG.org
  clients/lsp-ruff.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4546 Remove unsupported settings in `ruff server`
  clients/lsp-ruff.el
Labels: client

#4556 Add basic support for futhark mode
  CHANGELOG.org
  clients/lsp-futhark.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4558 lsp-roslyn: update to 4.12.0-3.24470.11 and fix stdpipe-path in Windows
  clients/lsp-roslyn.el
Labels: client

#4511 Optimize overlay creation by checking window visibility first
  CHANGELOG.org
  lsp-mode.el
Labels: documentation

#4534 feat: Add `lsp-sql-show-tables` command to `lsp-sqls`
  CHANGELOG.org
  clients/lsp-sqls.el
Labels: documentation, client

#4561 [docs] Fix build break due to missing comma
  docs/lsp-clients.json
Labels: documentation

#4559 Provide a unified (lsp-interface INTERFACE ...) pcase form
  CHANGELOG.org
  lsp-completion.el
  lsp-mode.el
  lsp-protocol.el
  test/lsp-protocol-test.el
Labels: documentation, completion

#4564 lsp-asm: if executable is found there's no need to install it
  CHANGELOG.org
  clients/lsp-asm.el
Labels: documentation, client

#4565 lsp-lua: modify the organization of `lua-language-server`
  clients/lsp-lua.el
  docs/lsp-clients.json
Labels: documentation, client

#4548 feat: register library fn for ruby-lsp server
  clients/lsp-ruby-lsp.el
Labels: client

#4568 Fix typo in lsp-golangci-lint custom group
  clients/lsp-golangci-lint.el
Labels: client

#4472 Switch tool detection for lsp-unzip (#3022)
  CHANGELOG.org
  lsp-mode.el
Labels: documentation
