Repository emacs-lsp/lsp-mode, pull requests merged in 2024-10, with the labels that each got.

#4574 Update gopls settings except the experimental ones
  clients/lsp-go.el
Labels: client

#4575 lsp-graphql: add new defcustom `lsp-graphql-target-file-extensions`
  clients/lsp-graphql.el
Labels: client

#4569 fix: add pwsh support for zip decompression, zls wrong bin path
  CHANGELOG.org
  clients/lsp-zig.el
  lsp-mode.el
Labels: documentation, client

#4577 Fix lsp-completion-default-behaviour const value
  lsp-completion.el
Labels: completion

#4578 docs: add missing `lsp-bufls` to list
  mkdocs.yml
Labels: documentation

#4579 Fix lsp-completion-default-behaviour custom group
  lsp-completion.el
Labels: completion

#4580 Add new client for Buf/Protocol Buffers
  CHANGELOG.org
  clients/lsp-bufls.el
  docs/lsp-clients.json
  mkdocs.yml
Labels: documentation, client

#4549 feat: add fennel-ls support
  CHANGELOG.org
  clients/lsp-fennel.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4593 Autocompletion options for Nix (nixd)
  clients/lsp-nix.el
Labels: client

#4594 fix: nixd option groups and documentation page
  clients/lsp-nix.el
  docs/lsp-clients.json
Labels: documentation, client

#4596 fix: reduce nix docstring length
  clients/lsp-nix.el
Labels: client

#4544 Introduce lsp-completion-passthrough-try-completion
  lsp-completion.el
Labels: completion
