Repository emacs-lsp/lsp-mode, pull requests merged in 2024-03, with the labels that each got.

#4302 Add new client: lsp-rpm-spec
  CHANGELOG.org
  clients/lsp-rpm-spec.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4336 Add support for installing Ada Language Server.
  CHANGELOG.org
  clients/lsp-ada.el
  docs/lsp-clients.json
Labels: documentation, client

#4359 add two useful options to lsp-nix-nil that don't have ask-first defaults
  clients/lsp-nix.el
Labels: client

#4364 Docs: register a server / file watchers
  docs/page/adding-new-language.md
  docs/page/file-watchers.md
Labels: documentation

#4334 Replace obsolete defadvice with add-advice
  lsp-semantic-tokens.el
Labels: semantic-tokens

#4368 Revert "lsp-csharp: add a test to check if dotnet tool csharp-ls is actually installed"
  clients/lsp-csharp.el
  clients/lsp-javascript.el
  lsp-mode.el
Labels: client

#4372 feat(clients): Add Cucumber support
  CHANGELOG.org
  clients/lsp-cucumber.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4303 Add support for Nushell
  CHANGELOG.org
  clients/lsp-nushell.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4307 Bump elixir-ls version to v0.19.0
  clients/lsp-elixir.el
Labels: client

#4352 lsp-xml: Update JAR download URL
  clients/lsp-xml.el
Labels: client

#4228 Fix credo language server command issues
  clients/lsp-credo.el
Labels: client

#4308 Add an item to the FAQ re: C/C++ and #include
  docs/page/faq.md
Labels: documentation

#4373 Fix a number of warnings
  clients/lsp-javascript.el
  lsp-diagnostics.el
  lsp-mode.el
Labels: client, diagnostics

#4375 feat: Add cobol language service
  CHANGELOG.org
  clients/lsp-cobol.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4293 feat: Add support for Trunk
  CHANGELOG.org
  clients/lsp-trunk.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4376 chore: Changelog items misplaced
  CHANGELOG.org
Labels: documentation

#4370 Add configuration options for the mypy pylsp plugin
  clients/lsp-pylsp.el
Labels: client

#4377 Fixing defcustom warnings + 1 wrong usage of `eq`
  clients/lsp-asm.el
  clients/lsp-clojure.el
  clients/lsp-terraform.el
  lsp-headerline.el
  lsp-ido.el
Labels: client

#4379 fix: Ensure start up after installation
  clients/lsp-actionscript.el
  clients/lsp-zig.el
Labels: client

#4378 feat(lsp-cobol): Add automatic install language service capability
  clients/lsp-cobol.el
  lsp-mode.el
Labels: client

#4381 Fix quoting in lsp-pylsp-plugins-mypy-dmypy docstring
  clients/lsp-pylsp.el
Labels: client

#4385 feat: Add Lisp support
  CHANGELOG.org
  clients/lsp-lisp.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4388 fix: Improve a few server installations
  clients/lsp-actionscript.el
  clients/lsp-cobol.el
  clients/lsp-rust.el
  clients/lsp-zig.el
Labels: rust, client

#4015 rust-analyzer: Add defcustoms for extra args and env vars to cargo.
  clients/lsp-rust.el
Labels: rust, client

#4393 chore: Remove unused functions
  clients/lsp-cobol.el
  clients/lsp-zig.el
Labels: client

#4389 fix(ts-ls): node_modules has different path on different platforms
  clients/lsp-javascript.el
Labels: client

#4395 ci: Bump Emacs 29.x to 3
  .github/workflows/test.yml
Labels: CI

#4397 style(lsp-rust): Fix indentation
  clients/lsp-rust.el
Labels: rust, client

#4398 style(lsp-rust): Mnior clean up
  clients/lsp-rust.el
Labels: rust, client

#4400 docs: Add @jcs090218 as maintainer
  AUTHORS
  README.md
Labels: documentation

#4396 lsp-xml: add supports for native binary language server
  clients/lsp-xml.el
Labels: client

#4399 lsp-html - update to new version of custom data and add new configuration options
  CHANGELOG.org
  clients/lsp-html.el
Labels: documentation, client

#4411 fix: Byte-compile warnings
  clients/lsp-cucumber.el
Labels: client
