Repository emacs-lsp/lsp-mode, pull requests merged in 2024-06, with the labels that each got.

#4470 fix: lsp-php (intelephense) - Fix typo in max file size setting
  clients/lsp-php.el
Labels: client

#4194 Allow clients to specify code action arguments where nil values should be treated as :json-false
  CHANGELOG.org
  lsp-mode.el
Labels: documentation

#4477 feat: support gleam-ts-mode
  clients/lsp-gleam.el
  lsp-mode.el
Labels: client

#4471 feat: Add earthlyls lsp client
  CHANGELOG.org
  clients/lsp-earthly.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4479 Bump elixir-ls version to v0.22.0
  clients/lsp-elixir.el
Labels: client

#4279 Add new Roslyn server support for C#
  CHANGELOG.org
  clients/lsp-roslyn-stdpipe.ps1
  clients/lsp-roslyn.el
  docs/lsp-clients.json
  lsp-mode.el
Labels: documentation, client

#4483 Add customization support for lsp-cucumber.el
  clients/lsp-cucumber.el
  lsp-mode.el
Labels: client

#4484 Remove Alire support from lsp-mode Ada client.
  clients/lsp-ada.el
Labels: client

#4462 Apply fixing lsp-clients-angular-language-server-command.
  clients/lsp-angular.el
Labels: client
