Repository emacs-lsp/lsp-mode, pull requests merged in 2024-07, with the labels that each got.

#4299 Proposal: make it easier to work with dotnet tools for C#/F#
  clients/lsp-csharp.el
  clients/lsp-fsharp.el
Labels: client

#4280 Add basic pull diagnostics support
  CHANGELOG.org
  lsp-mode.el
  lsp-protocol.el
Labels: documentation

#4489 Bump vscode-eslint extension to 3.0.10 to fix `eslint/probeFailed` on newer configurations
  clients/lsp-eslint.el
Labels: client

#4492 Add gnu/linux arm64 support in lsp--system-arch
  clients/lsp-lua.el
  lsp-mode.el
Labels: client

#4493 Fix roslyn path (404 error)
  CHANGELOG.org
  clients/lsp-roslyn.el
  docs/lsp-clients.json
Labels: documentation, client

#4495 Correct global tool commands for fsharpautocomplete and csharp-ls
  clients/lsp-csharp.el
  clients/lsp-fsharp.el
Labels: client

#4504 ci: Bump Emacs 29.x to 4
  .github/workflows/test.yml
Labels: CI

#4496 [lsp-magik] Add extra settings, re-order and remove obsolete setting
  clients/lsp-magik.el
Labels: client

#4514 Bump the magik language server to 0.10.0
  clients/lsp-magik.el
Labels: client
