Repository emacs-lsp/lsp-mode, pull requests merged in 2024-04, with the labels that each got.

#4408 lsp-pwsh: add supports for powershell-ts-mode
  clients/lsp-pwsh.el
  lsp-mode.el
Labels: client

#4394 lsp-completion: support completion-lazy-hilit and quicker company-match
  lsp-completion.el
Labels: completion

#4390 Introduce YANG LSP support
  CHANGELOG.org
  clients/lsp-yang.el
  docs/lsp-clients.json
  docs/manual-language-docs/lsp-yang.md
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4413 Delay load yasnippet even more
  clients/lsp-erlang.el
  clients/lsp-rust.el
  lsp-mode.el
Labels: rust, client

#4417 Add support for GNAT Project.
  CHANGELOG.org
  clients/lsp-ada.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4427 fix: Allow glob-pattern from hash-table
  lsp-mode.el
Labels: bug

#4426 lsp-volar: Add hybridMode
  clients/lsp-volar.el
Labels: client

#4429 Allow Flycheck to determine a diagnostic end position when needed.
  lsp-diagnostics.el
Labels: diagnostics

#4432 lsp-completion: dont use company's specific variable for checking auto trigger char
  lsp-completion.el
Labels: completion

#4434 Fix typo in tramp documentation
  docs/page/remote.md
Labels: documentation

#4444 lsp-rust: Allow debugging with GDB 14.
  clients/lsp-rust.el
Labels: rust, client
