Repository emacs-lsp/lsp-mode, pull requests merged in 2024-08, with the labels that each got.

#4512 Add lsp-flush-delayed-changes-before-next-message option
  CHANGELOG.org
  lsp-mode.el
Labels: documentation

#4525 feat: use `lsp-defcustom` to declare settings for `lsp-magik`
  clients/lsp-magik.el
Labels: client

#4527 feat: add `lsp-yaml-schema-extensions`
  clients/lsp-yaml.el
Labels: client

#4529 lsp-rust: report command capabilities
  clients/lsp-rust.el
Labels: rust, client

#4530 (docs) Update the `sqls` URL to match the current organization
  clients/lsp-sqls.el
  docs/lsp-clients.json
Labels: documentation, client

#4522 feat: Add action-handlers for code-lens provided ruby-lsp-rails
  clients/lsp-ruby-lsp.el
Labels: client

#4521 Enable nixd in nix-ts-mode too
  clients/lsp-nix.el
  lsp-mode.el
Labels: client
