Repository emacs-lsp/lsp-mode, pull requests merged in 2025-06, with the labels that each got.

#4811 Fix #4782 ensure ty is mutually exclusive to other Python servers
  clients/lsp-python-ty.el
Labels: client

#4812 Revert "Fix #4782 ensure ty is mutually exclusive to other Python servers"
  clients/lsp-python-ty.el
Labels: client

#4810 Fix compatibility with golangci-lint version 2+
  clients/lsp-golangci-lint.el
Labels: client

#4819 ci: Add workflow_dispatch
  .github/workflows/test.yml
Labels: CI

#4818 feat: added odin language support through ols
  CHANGELOG.org
  clients/lsp-odin.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4821 lsp-erlang: add new ELP semantic token mappings
  clients/lsp-erlang.el
Labels: client
