Repository emacs-lsp/lsp-mode, pull requests merged in 2025-05, with the labels that each got.

#4778 docs: fix typo in lsp-copilot.el docs
  clients/lsp-copilot.el
Labels: client

#4785 Add support for Python(ty)
  CHANGELOG.org
  clients/lsp-python-ty.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4786 lsp-python-py: make it add-on and activated on python
  clients/lsp-python-ty.el
Labels: client

#4789 change capitalization of Github to GitHub
  CONTRIBUTING.md
  clients/lsp-copilot.el
  docs/lsp-clients.json
  mkdocs.yml
Labels: documentation, client

#4798 lsp-erlang: fix download URLs for erlang-language-platform
  clients/lsp-erlang.el
Labels: client

#4787 lsp-rust: fix definition of lsp-rust-analyzer-cargo-extra-env (#4768)
  clients/lsp-rust.el
Labels: rust, client

#4804 lsp-rust: adds support for cargo.buildScripts.overrideCommand
  clients/lsp-rust.el
Labels: rust, client
