Repository emacs-lsp/lsp-mode, pull requests merged in 2025-03, with the labels that each got.

#4728 feat(lsp-nix): Allow passing arguments to server
  CHANGELOG.org
  clients/lsp-nix.el
Labels: documentation, client

#4735 fix(lsp-nix): use cons instead of push in :new-connection
  clients/lsp-nix.el
Labels: client

#4738 update names from `copilot-node-server` to `copilot-language-server`
  clients/lsp-copilot.el
  docs/lsp-clients.json
Labels: documentation, client

#4739 fix(lsp-bufls): Resolve timeout issues
  clients/lsp-bufls.el
Labels: client

#4743 ci: Attempt to fix docs workflow
  .github/workflows/docs.yml
  docs/Eask
  docs/Makefile
Labels: documentation, CI

#4732 OCaml: Add implIntf
  clients/lsp-ocaml.el
  docs/manual-language-docs/lsp-ocaml.md
  lsp-protocol.el
Labels: documentation, client

#4741 OCaml: Add type enclosing
  CHANGELOG.org
  clients/lsp-ocaml.el
  docs/manual-language-docs/lsp-ocaml.md
  lsp-mode.el
  lsp-protocol.el
Labels: documentation, client
