Repository emacs-lsp/lsp-mode, pull requests merged in 2025-09, with the labels that each got.

#4868 Add lsp-typos
  clients/lsp-typos.el
  docs/lsp-clients.json
  lsp-headerline.el
  lsp-mode.el
Labels: documentation, client

#4870 lsp-rust: add lsp-rust-analyzer-cargo-target-dir config
  clients/lsp-rust.el
Labels: rust, client

#4871 Refine vue volar ls to support v3
  clients/lsp-javascript.el
  clients/lsp-volar.el
  test/lsp-javascript-test.el
Labels: client
