Repository emacs-lsp/lsp-mode, pull requests merged in 2025-07, with the labels that each got.

#4829 fix: Correct postgres-ls system bin name
  clients/lsp-postgres.el
Labels: client

#4841 fix: Ols server download url getting malformed
  CHANGELOG.org
  clients/lsp-odin.el
Labels: documentation, client

#4845 ci: Attempt to fix arm test
  .github/workflows/test.yml
Labels: CI
