Repository emacs-lsp/lsp-mode, pull requests merged in 2025-01, with the labels that each got.

#4665 feat: add additional LSP support for YAML by adding helm-ls support
  CHANGELOG.org
  clients/lsp-kubernetes-helm.el
  docs/lsp-clients.json
  mkdocs.yml
Labels: documentation, client

#4637 lsp-erlang: add config customization options
  clients/lsp-erlang.el
Labels: client

#4673 Update lsp-erlang.el
  clients/lsp-erlang.el
Labels: client

#4620 Expose lsp-bash-allowed-shell and improve warning
  CHANGELOG.org
  clients/lsp-bash.el
  lsp-mode.el
Labels: documentation, client

#4662 lsp-inline-completion, lsp-copilot: fix lints, package version and default behavior on inserting text
  clients/lsp-copilot.el
  lsp-inline-completion.el
  lsp-mode.el
Labels: client

#4675 lsp-bash: only take into account buffer-local sh-shell
  clients/lsp-bash.el
Labels: client

#4646 [feat]: Add new client for V language support
  clients/lsp-v.el
Labels: client

#4625 Do not resolve during annotate, enrich documentation with details (Fix #3201) (Fix #3905)
  lsp-completion.el
  lsp-mode.el
  lsp-protocol.el
Labels: completion

#4680 Feature: Add support for Roc in roc-ts-mode
  CHANGELOG.org
  clients/lsp-roc.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4681 fix: Compile error in Emacs 31.x
  lsp-completion.el
Labels: completion

#4682 Return nil from passthrough-try-completion when table is nil
  lsp-completion.el
Labels: completion

#4683 fix: copilot respects the value of lsp-copilot-enabled [fixes #4679]
  clients/lsp-copilot.el
Labels: client

#4684 If table is a function, only passthrough if its result is non-nil
  lsp-completion.el
Labels: completion

#4691 feat: Add LTEX+
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation

#4686 lsp-graphql: fix regexp for ext check
  clients/lsp-graphql.el
Labels: client

#4685 Fix type and group of lsp-v-analyzer-path
  clients/lsp-v.el
Labels: client

#4694 lsp-rust: honour :environment for runnables
  CHANGELOG.org
  clients/lsp-rust.el
  lsp-protocol.el
Labels: rust, documentation, client

#4611 Add support for MATLAB language server
  CHANGELOG.org
  clients/lsp-matlab.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4695 disable Copilot by default
  clients/lsp-copilot.el
Labels: client

#4697 docs(mkdocs.yml): Add Ellsp and Elsa
  mkdocs.yml
Labels: documentation
