Repository emacs-lsp/lsp-mode, pull requests merged in 2025-02, with the labels that each got.

#4699 basic support for c3 language.
  CHANGELOG.org
  clients/lsp-c3.el
  docs/lsp-clients.json
  lsp-mode.el
  mkdocs.yml
Labels: documentation, client

#4701 Fix c3 language documentation page name.
  mkdocs.yml
Labels: documentation

#4702 [beancount] Fix lsp-beancount-journal-file
  CHANGELOG.org
  clients/lsp-beancount.el
Labels: documentation, client

#4703 [eslint] support .cjs config file format
  clients/lsp-eslint.el
Labels: client

#4704 Add lsp-elixir missing options and update to latest version
  clients/lsp-elixir.el
Labels: client

#4707 Encapsulate GLSL executable string, so it can be overridden
  clients/lsp-glsl.el
Labels: client

#4705 Add `~/.cargo/git` to `lsp-rust-analyzer-library-directories`
  clients/lsp-rust.el
Labels: rust, client

#4710 lsp-copilot: Replace LSP server with the official GitHub one
  clients/lsp-copilot.el
Labels: client

#4712 update linting GitHub Action
  .github/workflows/lint.yml
Labels: CI

#4713 add CI coverage for `aarch64-linux`
  .github/workflows/test.yml
Labels: CI

#4709 fix: delay copilot login check and avoid raising error
  clients/lsp-copilot.el
Labels: client

#4696 fix remote rust-analyzer path when using tramp
  clients/lsp-rust.el
Labels: rust, client

#4718 Fix asm-lsp install command
  clients/lsp-asm.el
Labels: client

#4719 ci: Test Emacs 30.1
  .github/workflows/test.yml
  clients/lsp-roslyn.el
Labels: client, CI

#4720 feat: Drop Emacs 27.
  .github/workflows/docs.yml
  .github/workflows/test.yml
  CHANGELOG.org
  Eask
  lsp-inline-completion.el
  lsp-mode.el
  test/lsp-mock-server-test.el
  test/mock-lsp-server.el
Labels: documentation, CI
